#booking-list{
  &.booking-list{
    .btn.btn-green{
      margin-bottom: 20px;
    }

    .btn.btn-danger{
      height: 25px;
      padding: 1px 12px;
      margin: 0px 20px 3px 9px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
      border-bottom: 1px solid #ccc;
    }

    li:last-child {
      border: none;
    }

    li {
      text-decoration: none;
      color: #3f3f3f;
      display: block;
      width: 100%;
      cursor: pointer;
      padding-left: 7px;

      -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
      -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
      -o-transition: font-size 0.3s ease, background-color 0.3s ease;
      -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
      transition: font-size 0.3s ease, background-color 0.3s ease;
    }

    li:hover {
      font-size: 30px;
      background: #f6f6f6;
    }

    li.current-playing{
      background-color: #dbdbdb;
      color: #007FC4;

    }

    .is-playing-item, .is-you-item, .time-left{
      font-size: 1.4rem;
      vertical-align: middle;
    }

    li.is-you{
      background-color: rgb(176, 252, 176);
    }

    .time-left{
      margin-left: 15px;
      font-weight: bold;
    }



    .player-number{
      margin-right: 10px;
    }

  }

}
