@media (max-width: 991px){
  #pingPong{
    &.pingPong{
      .profile-right-block{
        margin-left: 0rem;
      }

      .b-img{
        margin: 0 auto;
        i{
          left: 50%;
          margin-left: -7.5rem;
        }
      }
    }
  }
}

@media (max-width: 767px){
  #tabs{
    &.tabs{
      padding-top: 1rem;
      padding-bottom: 0.6rem;

      .nav-tabs li.active{
        background-color: darken(@bg_blue1, 20%);
        a{
          color: #fff;

        }
      }
    }
  }

  #pingPong{
    &.pingPong{
      .action-buttons-block{
        &>div{
          margin-top: 1rem;
        }
      }
    }
  }
}