#pingPong{
  &.pingPong{

  }

  font-size: 1.8rem;
  color: @text-gray5;
  font-family: OpenSans-Regular;



}

@media (min-width: 992px) and (max-width: 1199px){
  #pingPong{
    &.pingPong{


    }
  }
}