#tabs{
  &.tabs{

  }
  background-color: @bg_gray5;
  font-size: 1.8rem;
  font-family: OpenSans-Regular;
  margin-bottom: 5rem;

  .nav-tabs{

    .active{
      background-color: #fff;

      a{
        color: @text-gray1;
      }
    }

    li{
      background-color: @bg_blue1;
      cursor: pointer;
      border-right: 0.1rem solid @bg_gray5;

      a{
        background-color: transparent;
        border: none;
        color: #fff;
      }
    }

    li:not(.active):hover{
      background-color: darken(@bg_blue1, 10%);
      .transition(all, 0.2s, ease-in-out)
    }
  }
}