
<div id="categories" data-ng-controller="categories.ctrl.main" data-ng-cloak="data-ng-cloak" class="categories">
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="header-left-part col-md-6 col-sm-6 col-xs-12">
          <h3 class="title">{{ lang.categories }}</h3>
        </div>
        <div class="header-right-part col-md-6 col-sm-6 col-xs-12">
          <div class="btn btn-purple">{{ lang.submit_a_new_category_idea }}</div>
        </div>
      </div>
    </div>
  </header>
  <section class="categories-list">
    <div class="container">
      <ul class="main-category-list">
        <div data-ng-repeat="category in categoriesList">
          <div ng-if="$index % 4 == 0">
            <div class="row">
              <li ng-if="categoriesList[$index+0]" class="col-md-3 col-sm-3 col-xs-12"><img src="{{categoriesList[$index+0].icon}}"/>{{ categoriesList[$index+0].name }}
                <ul class="subcategories-list">
                  <li data-ng-repeat="subCategory in categoriesList[$index+0].subCategories"><a href="subcategory/{{categoriesList[$index+0].id}}">{{ categoriesList[$index+0].name }}</a></li>
                </ul>
              </li>
              <li ng-if="categoriesList[$index+1]" class="col-md-3 col-sm-3 col-xs-12"><img src="{{categoriesList[$index+1].icon}}"/>{{ categoriesList[$index+1].name }}
                <ul class="subcategories-list">
                  <li data-ng-repeat="subCategory in categoriesList[$index+1].subCategories"><a href="subcategory/{{categoriesList[$index+1].id}}">{{ categoriesList[$index+1].name }}</a></li>
                </ul>
              </li>
              <li ng-if="categoriesList[$index+2]" class="col-md-3 col-sm-3 col-xs-12"><img src="{{categoriesList[$index+2].icon}}"/>{{ categoriesList[$index+2].name }}
                <ul class="subcategories-list">
                  <li data-ng-repeat="subCategory in categoriesList[$index+2].subCategories"><a href="subcategory/{{categoriesList[$index+2].id}}">{{ categoriesList[$index+2].name }}</a></li>
                </ul>
              </li>
              <li ng-if="categoriesList[$index+3]" class="col-md-3 col-sm-3 col-xs-12"><img src="{{categoriesList[$index+3].icon}}"/>{{ categoriesList[$index+3].name }}
                <ul class="subcategories-list">
                  <li data-ng-repeat="subCategory in categoriesList[$index+3].subCategories"><a href="subcategory/{{categoriesList[$index+3].id}}">{{ categoriesList[$index+3].name }}</a></li>
                </ul>
              </li>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </section>
</div>