#profile {
  font-size: 1.3rem;
  color: #7b7b7b;
  font-family: OpenSans-Regular;
}
#profile .err-msg {
  text-align: left;
}
#profile .container {
  padding-top: 2rem;
}
#profile h3 {
  font-size: 2.2rem;
  font-family: OpenSans-Bold;
  margin-bottom: 5rem;
}
#profile .avatar {
  width: 16.4rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
#profile .b-img {
  width: 16.4rem;
  text-align: center;
}
#profile .prof-info-title,
#profile .prof-info-val {
  font-size: 2rem;
}
#profile .prof-info-title {
  color: #cbcbcb;
  width: 10rem;
  vertical-align: top;
  display: inline-block;
  position: absolute;
}
#profile .prof-info-val {
  padding-left: 10rem;
}
#profile .profile-name,
#profile .whos-profile {
  font-size: 1.8rem;
  color: #2da3e0;
}
#profile .profile-info-block > div {
  margin-top: 2rem;
}
#profile .log-info {
  margin-top: 2rem;
}
#profile .log-info > div > span {
  font-family: OpenSans-Bold;
}
#profile hr {
  border-top: 0.1rem solid #cfcfcf;
  color: red;
  background-color: #e7e7e7;
  height: 1px;
  margin-top: 6rem;
}
#profile .edit-block {
  font-size: 1.3rem;
  padding-top: 1.7rem;
  padding-left: 0;
}
#profile .edit-block h4 {
  font-size: 2rem;
  margin-bottom: 4.5rem;
}
#profile .edit-block > div {
  margin: 0 auto;
  display: table;
}
#profile .edit-block form {
  padding-left: 0;
  max-width: 46rem;
  margin-bottom: 8rem;
}
#profile .edit-block form .form-group {
  margin: 1rem 0 0 0;
}
#profile .edit-block form .form-group .controls {
  display: inline-block;
  width: 29rem;
}
#profile .edit-block form .form-group .input-dropdown button {
  margin-left: 0;
  background-color: #44bbff;
}
#profile .edit-block form .form-group .input-dropdown button:hover {
  background-color: #2ab2ff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#profile .edit-block form .form-group .input-dropdown .dropdown-menu {
  max-height: 20rem;
  overflow-y: auto;
  margin-left: -12.1rem;
  text-align: center;
}
#profile .edit-block form .form-group .input-dropdown .dropdown-menu a:hover {
  background-color: #44bbff;
  color: #fff;
}
#profile .edit-block form > .row {
  margin-top: 1rem;
}
#profile .edit-block form textarea {
  resize: vertical;
  min-height: 13.2rem;
}
#profile .edit-block form label:not(.css-label) {
  color: #d4d4d4;
  font-weight: normal;
  margin-top: 0.7rem;
  margin-left: 0.8rem;
  vertical-align: top;
}
#profile .edit-block .css-label {
  color: #7b7b7b;
  margin: 2rem 0;
}
#profile .edit-block .css-label a {
  color: #44bbff;
}
#profile .edit-block .btn-green,
#profile .edit-block .btn-blue {
  width: 21.5rem;
}
#profile .edit-block .btn-blue {
  font-family: OpenSans-Regular;
  font-size: 1.3rem;
  padding-top: 1rem;
  padding-bottom: 0;
}
#profile .edit-block .btn-green {
  font-family: OpenSans-Bold;
  font-size: 1.8rem;
  height: 4.3rem;
}
#profile .edit-block .row {
  margin-left: 0;
}
#profile .edit-block .btn-link {
  color: #a7a7a7;
  font-size: 1.4rem;
  margin-left: 7rem;
}
#profile #fileInput {
  cursor: pointer;
  width: 212px;
  height: 40px;
  outline: 1px solid red;
  margin-top: -28px;
  opacity: 0;
  margin-left: -25px;
}
#profile #fileInput::-webkit-file-upload-button {
  cursor: pointer;
}
#profile .cropArea {
  margin-top: 1rem;
  overflow: hidden;
  width: 100%;
  height: 35rem;
}
#profile .cropArea + .btn-green {
  width: 5rem;
  height: 3.8rem;
  margin: 0.5rem auto 1.5rem auto;
  display: block;
}
#profile .cropPreview div {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
@media (max-width: 991px) {
  #profile.profile .avatar-block {
    text-align: center;
  }
  #profile.profile .avatar-block + div {
    padding-top: 5rem;
  }
  #profile.profile .profile-name {
    margin-left: 0;
  }
  #profile.profile .profile-info-block {
    margin-bottom: 3rem;
  }
  #profile.profile .whos-profile {
    margin-left: 0;
  }
  #profile.profile .b-img {
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  #profile.profile .edit-block h4 {
    text-align: center;
  }
  #profile.profile .edit-block form {
    text-align: center;
  }
  #profile.profile .edit-block form label:not(.css-label) {
    display: none;
  }
  #profile.profile .edit-block .btn-link {
    margin-left: 0;
    margin-top: 1rem;
  }
  #profile.profile .edit-block .btn-green {
    display: block;
    margin: 0 auto;
  }
}
