#home{
  &.home{

  }

  header.header{
    background: @bg_blue2;

    h2{
      margin-top: 0rem;
    }
    .left-side{
      padding: 4.5rem 2rem 3rem;

      h2{
        color: #fff;
        span{
          display: block;
          text-align: justify;
          font-family: OpenSans-Regular;
          font-size: 3.1rem;
        }
        b{
          display: block;
          font-family: OpenSans-Semibold;
          font-size: 3.8rem;
        }
      }
      p{
        position: relative;
        font-family: OpenSans-Light;
        font-size: 1.7rem;
        color: #fff;

        &::first-letter{
          text-transform: uppercase;
        }
      }
      .btn-green{
        padding: 2rem 2.5rem;
        margin-top: 3rem;
        font-family: OpenSans-Bold;
        font-size: 1.8rem;
        color: #fff;

        &::first-letter{
          text-transform: uppercase;
        }
      }
    }
    .right-side{
      position: relative;
      padding: 4.5rem 3.5rem 6rem;


      h2{
        position: relative;
        font-family: OpenSans-Bold;
        font-size: 3.7rem;
        color: #fff;
        text-transform: uppercase;
      }
      p{
        position: relative;
        font-family: OpenSans-Regular;
        font-size: 1.4rem;
        color: #fff;
      }
      .b-img{
        position: absolute;
        top: 0rem;
        left: 1.5rem;
        right: 1.5rem;
        height: 100%;
        z-index: 0;

        &:before{
          content: '';
          position: absolute;
          top: 0rem;
          left: 0rem;
          width: 100%;
          height: 100%;
          z-index: 1;

          background: rgba(55,55,55,0.5);
        }
        img{
          position: absolute;
          top: 0px;
          left: 0px;
          z-index: 0;
          width: 100%;
          height: 100%;
        }
      }
      .btn-link{
        position: relative;
        padding: 0rem;
        margin-top: 1.5rem;

        font-family: OpenSans-Regular;
        font-size: 1.2rem;
        color: @blue_text2;

        &::first-letter{
          text-transform: uppercase;
        }
      }
    }
  }
  section.challenge-list{
    h2{
      margin-top: 0rem;
      font-family: OpenSans-Light;
      font-size: 4.8rem;
      color: @blue_text1;

      &::first-letter{
        text-transform: uppercase;
      }
    }
    h3{
      margin-bottom: 0.5rem;
      font-family: OpenSans-Bold;
      font-size: 2.2rem;
      color: @text-gray1;
      text-transform: uppercase;
    }
    .video-item-list{
      padding: 3rem 0rem 2.5rem;
      &:nth-child(even){
        background: @bg_gray1;
      }
    }
    .started-by{
      margin-bottom: 1rem;
      &>*{
        display: inline-block;
      }
      span{
        padding-right: 0.5rem;
        font-family: OpenSans-Regular;
        font-size: 1.3rem;
        color: @text-gray2;

        &::first-letter{
          text-transform: uppercase;
        }
      }
      .video{
        padding-left: 0.5rem;
      }

    }
    .big-thumbnail{
      height: 35rem;
    }
    .right-side{
      .b-btn{
        text-align: right;
        line-height: 14rem;
        .btn-blue{
          padding: 1rem 4rem;
        }
      }
      ul{
        padding: 0rem;
      }
      li{
        height: 17rem;
        display: inline-block;
        margin-bottom: 1rem;
      }
    }
    .container > .b-btn{
      text-align: right;
      .btn-link::first-letter{
        text-transform: uppercase;
      }
    }
    .icon-starrating{
      color: @text-gray3;
      &.checked{
        color: @yellow1;
      }
    }
  }
  section.popular-challenge{
    padding: 3rem 0rem 2.5rem;
    .header{
      margin-bottom: 2rem;

      .btn-green{
        margin-top: 1.8rem;
      }
    }
    li{
      margin-bottom: 2rem;
      height: 15rem;
    }
  }
  .show-all{
    font-size: 1.3rem;
    font-family: OpenSans-Light;
  }
}