@media (max-width: 480px) {
  #home {
    &.home {

    }

    .btn-green-wrapper{
      width: 27rem;
      margin: 0 auto;
    }
    h2, h3 {
      text-align: center;
    }
    h3.title {
      font-size: 1.7rem!important;
      float: none !important;
    }
    header.header {
      .left-side{
        padding: 1.5rem 2rem 2rem;
      h2 {
        text-align: left;
        span {
          font-size: 1.6rem;
        }
        b {
          font-size: 1.8rem;
        }
      }
      p{
        font-size: 1.3rem;
      }
      .btn-green{
        display: block;
        font-size: 1.5rem;
      }
      }
      .right-side{
        padding: 2rem 3.5rem 2rem;
        width: 100%;
        margin-left: 0rem;

        h2{

          text-align: left;
          font-size: 1.7rem;
        }
        p{
          font-size: 1.3rem;
        }
      }

    }
    section.challenge-list {

      h2 {
        font-size: 2.5rem;
      }

      .video-item-list {
        .left-side {
          text-align: center;
          margin-bottom: 1rem;
        }
        .right-side {
          .b-btn {
            text-align: center;
            line-height: 10rem;
          }
          li {
            text-align: center;
          }
        }
        .video-item {
          display: inline-block;
          width: 27rem;
        }
      }
      .big-thumbnail {
        height: 20rem;
      }
    }
    section.popular-challenge {
      li {
        text-align: center;
        .challenge-item {
          display: inline-block;
          width: 27rem;
        }
      }
    }
  }
}