@media (max-width: 1024px){
  #home{
    &.home{

    }

    header.header {
      .left-side{
        h2 {
          text-align: left;
          span {
            font-size: 2.6rem;
          }
          b {
            font-size: 3.1rem;
          }
        }
        p{
          font-size: 1.6rem;
        }

        .btn-green{
          margin-top: 1.5rem;
        }
      }
      .right-side{
        margin-top: 2rem;
        h2{
          text-align: left;
          font-size: 3rem;
        }
        p{
          font-size: 1.3rem;
        }
      }

    }

  }
}

@media (max-width: 768px){
  #home{
    &.home{
      .browse-all{
        margin-bottom: 1rem;
      }
    }

  }
}
