
<div id="profile" data-ng-controller="profile.ctrl.main" data-ng-init="init()" data-ng-cloak="data-ng-cloak" class="profile">
  <div class="container">
    <h3>{{lang.its_all | uppercase}}</h3>
    <div class="row">
      <div class="col-md-3 col-sm-12 avatar-block">
        <div class="b-img"><img data-ng-src="{{user.profile.avatarUrl}}" class="avatar"/><a href="" class="btn-link profile-name">{{user.profile.name}}</a></div>
        <div class="log-info">
          <div>{{lang.member_since}} {{user.profile.memberSince}}</div>
          <div>{{lang.last_logged}}<span>{{user.profile.lastLogged}}</span></div>
        </div>
      </div>
      <div class="col-md-9 col-sm-12"><a href="" class="btn-link whos-profile">{{user.profile.name}}{{lang.whos_profile}}</a>
        <div class="profile-info-block">
          <div>
            <div class="prof-info-title">{{lang.from}}:</div>
            <div class="prof-info-val"><span>{{user.profile.country}}</span></div>
          </div>
          <div>
            <div class="prof-info-title">{{lang.about}}:</div>
            <div class="prof-info-val"><span>{{user.profile.about}}</span></div>
          </div>
          <div>
            <div class="prof-info-title">{{lang.age}}:</div>
            <div class="prof-info-val"><span>{{user.profile.age}}{{lang.yrs_old}}</span></div>
          </div>
        </div>
      </div>
    </div>
    <div data-ng-if="showEditBlock" class="row">
      <hr/>
    </div>
    <div data-ng-if="showEditBlock" class="container edit-block">
      <div>
        <h4>{{lang.do_you_edit}}</h4>
        <form role="form" name="profileForm" data-ng-submit="submit(profileForm)" form-autofill-fix="form-autofill-fix" novalidate="novalidate" class="form-horizontal">
          <!-- Email-->
          <div data-ng-class="{'has-error': err_email_req || err_email || server_errs.email.show}" class="form-group">
            <div class="row">
              <div class="controls">
                <input name="email" type="email" placeholder="{{lang.your_email}}" data-ng-model="profile.email" data-ng-click="errorsHide('email')" required="true" class="form-control"/>
                <div data-ng-show="err_email = profileForm.email.$error.email &amp;&amp; !profileForm.email.$pristine" class="err-msg">{{ lang.error.email }}</div>
                <div data-ng-show="err_email_req = profileForm.email.$error.required &amp;&amp; !profileForm.email.$pristine" class="err-msg">{{ lang.error.required }}</div>
                <div data-ng-show="server_errs.email.show" class="err-msg">{{ lang.error.email }}</div>
              </div>
              <label>{{lang.your_email}}</label>
            </div>
          </div>
          <!--About yourself-->
          <div class="form-group">
            <div class="row">
              <div class="controls">
                <textarea name="about" placeholder="{{lang.about_yourself}}" data-ng-model="profile.about" class="form-control"></textarea>
              </div>
              <label>{{lang.about_yourself}}</label>
            </div>
          </div>
          <!-- Age-->
          <div data-ng-class="{'has-error': !profileForm.age.$valid &amp;&amp; !profileForm.age.$pristine}" class="form-group">
            <div class="row">
              <div class="controls">
                <div class="input-group">
                  <input name="age" type="number" placeholder="{{lang.age_opt}}" data-ng-model="profile.age" min="1" max="100" class="form-control"/><span class="input-group-btn dropdown input-dropdown">
                    <button type="button" class="btn dropdown-toggle"><span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu">
                      <li><a href="" data-ng-repeat="n in [] | range:100" data-ng-click="profile.age = n">{{n}}</a></li>
                    </ul></span>
                </div>
                <div data-ng-show="!profileForm.age.$valid &amp;&amp; !profileForm.age.$pristine" class="err-msg">{{ lang.error.age_error }}</div>
              </div>
              <label>{{lang.age_opt}}</label>
            </div>
          </div>
          <!-- choose picture-->
          <div class="row">
            <div class="btn btn-blue">{{ lang.change_picture }}
              <input id="fileInput" type="file" get-img-base="myImage"/>
            </div>
            <div data-ng-show="showCropArea" class="cropArea">
              <img-crop image="myImage" result-image="myCroppedImage" area-type="square" change-on-fly="true" on-load-begin="showPreview = true; showCropArea = true;"></img-crop>
            </div>
            <div data-ng-click="showCropArea = false" data-ng-show="showCropArea" class="btn btn-green">{{lang.ok}}</div>
            <div data-ng-show="showPreview" class="cropPreview">
              <div>{{lang.cropped_image}}:</div><img data-ng-src="{{myCroppedImage}}"/>
            </div>
          </div>
          <!-- judge checkbox-->
          <div class="row">
            <input id="checkbox-judge" type="checkbox" data-ng-model="profile.judge" class="css-checkbox"/>
            <label for="checkbox-judge" data-ng-model="profile.judge" class="css-label"><span></span>{{ lang.judge }} &nbsp;&nbsp;<a data-ng-click="$location.openModal('/judging-info')">{{ lang.more_info }}</a></label>
          </div>
          <!-- save button-->
          <div class="row">
            <button type="button" data-ng-click="submit(profileForm)" class="btn btn-green">{{ lang.save }}</button><a href="" class="btn btn-link">{{ lang.delete_acc }}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>