#categories {

  .header-left-part {
    line-height: 10rem;
    height: 10rem;
  }

  .header-right-part {
    line-height: 10rem;
    height: 10rem;
    text-align: right;
  }

  h3.title {
    margin: 0;
    vertical-align: middle;
    line-height: 10rem;
    height: 10rem;
  }


  ul.main-category-list {
    font-size: 1.8rem;
    color: @text-gray1;
    text-transform: uppercase;
    list-style-type: none;
    padding: 0;

    img {
      display: block;
      margin-bottom: 1.5rem;
    }
  }

  ul.subcategories-list {
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    font-size: 1.3rem;
    color: @text-gray1;
    list-style-type: none;
    padding: 0;
    li {
      padding: 0;

      a {
        text-transform: none;
        color: @blue_text1;
      }
    }
  }

  .btn-purple {
    .bgBtn(@btn-purple);
    width: 20.6rem;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }



}

