@media (max-width: 767px){
  #categories {
    .header-left-part {
      text-align: center;
    }

    .header-right-part {
      text-align: center;
    }

    li {
      text-align: center;
      img {
        margin: 0 auto 1.5rem;
      }
    }
  }

}