#home header.header {
  background: #005c99;
}
#home header.header h2 {
  margin-top: 0rem;
}
#home header.header .left-side {
  padding: 4.5rem 2rem 3rem;
}
#home header.header .left-side h2 {
  color: #fff;
}
#home header.header .left-side h2 span {
  display: block;
  text-align: justify;
  font-family: OpenSans-Regular;
  font-size: 3.1rem;
}
#home header.header .left-side h2 b {
  display: block;
  font-family: OpenSans-Semibold;
  font-size: 3.8rem;
}
#home header.header .left-side p {
  position: relative;
  font-family: OpenSans-Light;
  font-size: 1.7rem;
  color: #fff;
}
#home header.header .left-side p::first-letter {
  text-transform: uppercase;
}
#home header.header .left-side .btn-green {
  padding: 2rem 2.5rem;
  margin-top: 3rem;
  font-family: OpenSans-Bold;
  font-size: 1.8rem;
  color: #fff;
}
#home header.header .left-side .btn-green::first-letter {
  text-transform: uppercase;
}
#home header.header .right-side {
  position: relative;
  padding: 4.5rem 3.5rem 6rem;
}
#home header.header .right-side h2 {
  position: relative;
  font-family: OpenSans-Bold;
  font-size: 3.7rem;
  color: #fff;
  text-transform: uppercase;
}
#home header.header .right-side p {
  position: relative;
  font-family: OpenSans-Regular;
  font-size: 1.4rem;
  color: #fff;
}
#home header.header .right-side .b-img {
  position: absolute;
  top: 0rem;
  left: 1.5rem;
  right: 1.5rem;
  height: 100%;
  z-index: 0;
}
#home header.header .right-side .b-img:before {
  content: '';
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(55, 55, 55, 0.5);
}
#home header.header .right-side .b-img img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
}
#home header.header .right-side .btn-link {
  position: relative;
  padding: 0rem;
  margin-top: 1.5rem;
  font-family: OpenSans-Regular;
  font-size: 1.2rem;
  color: #00bbe9;
}
#home header.header .right-side .btn-link::first-letter {
  text-transform: uppercase;
}
#home section.challenge-list h2 {
  margin-top: 0rem;
  font-family: OpenSans-Light;
  font-size: 4.8rem;
  color: #2da3e0;
}
#home section.challenge-list h2::first-letter {
  text-transform: uppercase;
}
#home section.challenge-list h3 {
  margin-bottom: 0.5rem;
  font-family: OpenSans-Bold;
  font-size: 2.2rem;
  color: #7c7c7c;
  text-transform: uppercase;
}
#home section.challenge-list .video-item-list {
  padding: 3rem 0rem 2.5rem;
}
#home section.challenge-list .video-item-list:nth-child(even) {
  background: #fafafa;
}
#home section.challenge-list .started-by {
  margin-bottom: 1rem;
}
#home section.challenge-list .started-by > * {
  display: inline-block;
}
#home section.challenge-list .started-by span {
  padding-right: 0.5rem;
  font-family: OpenSans-Regular;
  font-size: 1.3rem;
  color: #cbcbcb;
}
#home section.challenge-list .started-by span::first-letter {
  text-transform: uppercase;
}
#home section.challenge-list .started-by .video {
  padding-left: 0.5rem;
}
#home section.challenge-list .big-thumbnail {
  height: 35rem;
}
#home section.challenge-list .right-side .b-btn {
  text-align: right;
  line-height: 14rem;
}
#home section.challenge-list .right-side .b-btn .btn-blue {
  padding: 1rem 4rem;
}
#home section.challenge-list .right-side ul {
  padding: 0rem;
}
#home section.challenge-list .right-side li {
  height: 17rem;
  display: inline-block;
  margin-bottom: 1rem;
}
#home section.challenge-list .container > .b-btn {
  text-align: right;
}
#home section.challenge-list .container > .b-btn .btn-link::first-letter {
  text-transform: uppercase;
}
#home section.challenge-list .icon-starrating {
  color: #e1e1e1;
}
#home section.challenge-list .icon-starrating.checked {
  color: #ffdd3d;
}
#home section.popular-challenge {
  padding: 3rem 0rem 2.5rem;
}
#home section.popular-challenge .header {
  margin-bottom: 2rem;
}
#home section.popular-challenge .header .btn-green {
  margin-top: 1.8rem;
}
#home section.popular-challenge li {
  margin-bottom: 2rem;
  height: 15rem;
}
#home .show-all {
  font-size: 1.3rem;
  font-family: OpenSans-Light;
}
@media (max-width: 1024px) {
  #home header.header .left-side h2 {
    text-align: left;
  }
  #home header.header .left-side h2 span {
    font-size: 2.6rem;
  }
  #home header.header .left-side h2 b {
    font-size: 3.1rem;
  }
  #home header.header .left-side p {
    font-size: 1.6rem;
  }
  #home header.header .left-side .btn-green {
    margin-top: 1.5rem;
  }
  #home header.header .right-side {
    margin-top: 2rem;
  }
  #home header.header .right-side h2 {
    text-align: left;
    font-size: 3rem;
  }
  #home header.header .right-side p {
    font-size: 1.3rem;
  }
}
@media (max-width: 768px) {
  #home.home .browse-all {
    margin-bottom: 1rem;
  }
}
@media (max-width: 480px) {
  #home .btn-green-wrapper {
    width: 27rem;
    margin: 0 auto;
  }
  #home h2,
  #home h3 {
    text-align: center;
  }
  #home h3.title {
    font-size: 1.7rem!important;
    float: none !important;
  }
  #home header.header .left-side {
    padding: 1.5rem 2rem 2rem;
  }
  #home header.header .left-side h2 {
    text-align: left;
  }
  #home header.header .left-side h2 span {
    font-size: 1.6rem;
  }
  #home header.header .left-side h2 b {
    font-size: 1.8rem;
  }
  #home header.header .left-side p {
    font-size: 1.3rem;
  }
  #home header.header .left-side .btn-green {
    display: block;
    font-size: 1.5rem;
  }
  #home header.header .right-side {
    padding: 2rem 3.5rem 2rem;
    width: 100%;
    margin-left: 0rem;
  }
  #home header.header .right-side h2 {
    text-align: left;
    font-size: 1.7rem;
  }
  #home header.header .right-side p {
    font-size: 1.3rem;
  }
  #home section.challenge-list h2 {
    font-size: 2.5rem;
  }
  #home section.challenge-list .video-item-list .left-side {
    text-align: center;
    margin-bottom: 1rem;
  }
  #home section.challenge-list .video-item-list .right-side .b-btn {
    text-align: center;
    line-height: 10rem;
  }
  #home section.challenge-list .video-item-list .right-side li {
    text-align: center;
  }
  #home section.challenge-list .video-item-list .video-item {
    display: inline-block;
    width: 27rem;
  }
  #home section.challenge-list .big-thumbnail {
    height: 20rem;
  }
  #home section.popular-challenge li {
    text-align: center;
  }
  #home section.popular-challenge li .challenge-item {
    display: inline-block;
    width: 27rem;
  }
}
