@font-face {
  font-family: 'icomoon';
  src: url('/web/fonts/OpenSans/OpenSans-Bold.ttf');
  src: url('/web/fonts/icomoon.eot?#iefixh7v5eb') format('embedded-opentype'), url('/web/fonts/icomoon.woff?h7v5eb') format('woff'), url('/web/fonts/icomoon.ttf?h7v5eb') format('truetype'), url('/web/fonts/icomoon.svg?h7v5eb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}@font-face {
  font-family: 'icomoon';
  src: url('/web/fonts/icomoon.eot?h7v5eb');
  src: url('/web/fonts/icomoon.eot?#iefixh7v5eb') format('embedded-opentype'), url('/web/fonts/icomoon.woff?h7v5eb') format('woff'), url('/web/fonts/icomoon.ttf?h7v5eb') format('truetype'), url('/web/fonts/icomoon.svg?h7v5eb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-phone:before {
  content: "\e601";
}
.icon-googleplus:before {
  content: "\e600";
}
.icon-facebook2:before {
  content: "\e603";
}
.icon-linkedin2:before {
  content: "\f0e1";
}
