@import "../../bower_components/bootstrap/dist/css/bootstrap.css";
@import "../../bower_components/angular-dialog-service/dist/dialogs.min.css";
@import "../../bower_components/ngImgCrop/compile/minified/ng-img-crop.css";
@import "../../modules/header/css/index.css";
@import "../../modules/footer/css/index.css";
@import "../../modules/home/css/index.css";
@import "../../modules/widgets/css/index.css";
@import "../../modules/profile/css/index.css";
@import "../../modules/booking/css/index.css";
@import "../../modules/categories/css/index.css";
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: url('../fonts/OpenSans/OpenSans-BoldItalic.eot');
  src: url('../fonts/OpenSans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff'), url('../fonts/OpenSans/OpenSans-BoldItalic.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('../fonts/OpenSans/OpenSans-ExtraBold.eot');
  src: url('../fonts/OpenSans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-ExtraBold.woff') format('woff'), url('../fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-ExtraBoldItalic';
  src: url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.eot');
  src: url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff') format('woff'), url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Italic';
  src: url('../fonts/OpenSans/OpenSans-Italic.eot');
  src: url('../fonts/OpenSans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-Italic.woff') format('woff'), url('../fonts/OpenSans/OpenSans-Italic.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans/OpenSans-Light.eot');
  src: url('../fonts/OpenSans/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans/OpenSans-Light.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url('../fonts/OpenSans/OpenSans-LightItalic.eot');
  src: url('../fonts/OpenSans/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-LightItalic.woff') format('woff'), url('../fonts/OpenSans/OpenSans-LightItalic.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-LightItalic.svg#OpenSans-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../fonts/OpenSans/OpenSans-Semibold.eot');
  src: url('../fonts/OpenSans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-SemiboldItalic';
  src: url('../fonts/OpenSans/OpenSans-SemiboldItalic.eot');
  src: url('../fonts/OpenSans/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-SemiboldItalic.woff') format('woff'), url('../fonts/OpenSans/OpenSans-SemiboldItalic.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-SemiboldItalic.svg#OpenSans-SemiboldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?h7v5eb');
  src: url('../fonts/icomoon.eot?#iefixh7v5eb') format('embedded-opentype'), url('../fonts/icomoon.woff?h7v5eb') format('woff'), url('../fonts/icomoon.ttf?h7v5eb') format('truetype'), url('../fonts/icomoon.svg?h7v5eb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-JustWatch:before {
  content: "\e61f";
}
.icon-JudgeVideos:before {
  content: "\e620";
}
.icon-EditProfile:before {
  content: "\e621";
}
.icon-VideoGuidelinesIcon:before {
  content: "\e616";
}
.icon-JoinAChallange:before {
  content: "\e622";
}
.icon-usersgroup:before {
  content: "\e61e";
}
.icon-starrating:before {
  content: "\e61b";
}
.icon-funny:before {
  content: "\e600";
}
.icon-Sports:before {
  content: "\e601";
}
.icon-serious:before {
  content: "\e602";
}
.icon-instructional:before {
  content: "\e603";
}
.icon-cooking:before {
  content: "\e604";
}
.icon-music:before {
  content: "\e605";
}
.icon-cartoon:before {
  content: "\e606";
}
.icon-nature:before {
  content: "\e607";
}
.icon-education:before {
  content: "\e608";
}
.icon-vehicles:before {
  content: "\e609";
}
.icon-other:before {
  content: "\e60a";
}
.icon-search:before {
  content: "\e60b";
}
.icon-challenge:before {
  content: "\e60c";
}
.icon-videos:before {
  content: "\e60d";
}
.icon-signinlock:before {
  content: "\e60e";
}
.icon-newaccount:before {
  content: "\e60f";
}
.icon-user:before {
  content: "\e610";
}
.icon-calendar:before {
  content: "\e611";
}
.icon-eye:before {
  content: "\e612";
}
.icon-lock:before {
  content: "\e613";
}
.icon-unlock:before {
  content: "\e614";
}
.icon-videocamera:before {
  content: "\e615";
}
.icon-twiiter:before {
  content: "\e617";
}
.icon-facebook:before {
  content: "\e618";
}
.icon-facebook2:before {
  content: "\e619";
}
.icon-envelope:before {
  content: "\e61a";
}
.icon-done:before {
  content: "\e61d";
}
.icon-envelope2:before {
  content: "\e61c";
}
/*error message*/
a,
button {
  outline: none!important;
}
html {
  overflow-y: scroll;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
.main {
  min-height: 100%;
  margin-bottom: -6rem;
}
.main:after {
  content: "";
  display: block;
}
footer,
.main:after {
  height: 6rem;
}
.err-msg {
  padding: 0.5rem 0.5rem 0rem;
  color: #A94442;
  font-size: 1.2rem;
  first-letter: uppercase;
}
.err-msg:first-letter {
  text-transform: uppercase;
}
.form-control {
  border-color: #e1e1e1;
  box-shadow: none;
}
form[class^="form"] input,
form[class^="form"] textarea {
  box-shadow: none;
  border-color: #e1e1e1;
  font-size: 1.3rem;
}
form[class^="form"] input::-webkit-input-placeholder,
form[class^="form"] textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #d4d4d4;
}
form[class^="form"] input:-moz-placeholder,
form[class^="form"] textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #d4d4d4;
  opacity: 1;
}
form[class^="form"] input::-moz-placeholder,
form[class^="form"] textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #d4d4d4;
  opacity: 1;
}
form[class^="form"] input:-ms-input-placeholder,
form[class^="form"] textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #d4d4d4;
}
.btn {
  cursor: pointer;
}
.btn::first-letter {
  text-transform: uppercase;
}
.btn.btn-green {
  padding: 0.5rem 1rem;
  font-family: OpenSans-Regular;
  font-size: 1.3rem;
  color: #fff;
  background-color: #12d37b;
}
.btn.btn-green:hover {
  background-color: #10bc6d;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn.btn-blue {
  padding: 1rem 2.5rem;
  font-family: OpenSans-Bold;
  font-size: 1.8rem;
  color: #fff;
  text-transform: capitalize;
  background-color: #44bbff;
}
.btn.btn-blue:hover {
  background-color: #2ab2ff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn.btn-link {
  padding: 0.5rem 1rem;
  color: #2da3e0;
}
.v-line {
  position: relative;
}
.v-line:after {
  content: '';
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  right: 0rem;
  width: 0.1rem;
  height: 100%;
  background: #eaeaea;
}
.video {
  display: inline-block;
  line-height: 2rem;
  vertical-align: top;
}
.video i {
  float: left;
  padding-right: 0.3rem;
  font-size: 2.1rem;
  line-height: 1.9rem;
  vertical-align: top;
  color: #e1e1e1;
}
.video.name {
  font-family: OpenSans-Light;
  font-size: 1.3rem;
  color: #2da3e0;
}
.video.name i {
  padding-right: 0.5rem;
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.video.create {
  font-family: OpenSans-Light;
  font-size: 1.3rem;
  color: #cbcbcb;
}
.video.viewed {
  font-family: OpenSans-Light;
  font-size: 1.3rem;
  color: #cbcbcb;
  line-height: 2.1rem;
}
.video.viewed i {
  font-size: 3rem;
  line-height: 2.2rem;
}
.video-item {
  position: relative;
  top: 0rem;
  height: 100%;
}
.video-item .b-img {
  position: absolute;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  bottom: 3rem;
}
.video-item .b-img img {
  width: 100%;
  height: 100%;
}
.video-item .b-img > div {
  position: absolute;
  padding: 0.3rem 1rem;
  font-family: OpenSans-Regular;
  font-size: 1.3rem;
  color: #fff;
  border-radius: 0.3rem;
  background-color: rgba(77, 77, 77, 0.5);
  text-transform: capitalize;
}
.video-item .b-img .time {
  top: 1rem;
  right: 1rem;
}
.video-item .b-img .create {
  bottom: 1rem;
  right: 1rem;
}
.video-item .b-img .viewed {
  bottom: 1rem;
  left: 1rem;
}
.video-item .b-info {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  line-height: 3rem;
}
.video-item .b-info .name {
  padding-left: 0rem;
}
.video-item .b-info .rating {
  text-align: right;
  font-size: 1.6rem;
}
.challenge-item {
  position: relative;
  top: 0rem;
  height: 100%;
}
.challenge-item .b-img {
  position: absolute;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}
.challenge-item .b-img:before {
  content: '';
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(55, 55, 55, 0.4);
}
.challenge-item .b-img img {
  width: 100%;
  height: 100%;
}
.challenge-item .b-img > div {
  position: absolute;
  font-family: OpenSans-Regular;
  font-size: 1.3rem;
  color: #fff;
  text-transform: capitalize;
}
.challenge-item .b-img > div i {
  padding-right: 0.3rem;
}
.challenge-item .b-img .title {
  top: 1rem;
  left: 1rem;
  color: #f2df07;
}
.challenge-item .b-img .status {
  padding: 0rem;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  font-family: "icomoon";
}
.challenge-item .b-img .status.icon-lock {
  color: #ff2626;
}
.challenge-item .b-img .status.icon-unlock {
  color: #6fcd00;
}
.challenge-item .b-img .people {
  line-height: 1.6rem;
  vertical-align: top;
}
.challenge-item .b-img .people i {
  line-height: 1.7rem;
}
.challenge-item .b-img .viewed {
  bottom: 1rem;
  right: 1rem;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  background-color: rgba(77, 77, 77, 0.5);
  font-size: 1.1rem;
}
.challenge-item .b-img .viewed i {
  font-size: 2.4rem;
}
.challenge-item .b-img .people-video-block {
  bottom: 1rem;
  font-size: 1.2rem;
  left: 1rem;
  background-color: rgba(77, 77, 77, 0.5);
  border-radius: 0.3rem;
  padding: 0.6rem 0.5rem;
  text-align: left;
}
input[type=checkbox]:not(old),
input[type=radio]:not(old) {
  width: 1.7em;
  height: 1.4rem;
  margin: 0;
  padding: 0;
  font-size: 1em;
  opacity: 0;
  cursor: pointer;
}
input[type=checkbox]:not(old) + label,
input[type=radio]:not(old) + label {
  display: inline-block;
  line-height: 1.5em;
}
input[type=checkbox]:not(old) + label > span,
input[type=radio]:not(old) + label > span {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  margin: 0.25em 0.5em 0.25em 0;
  border: 0.1rem solid #e1e1e1;
  border-radius: 0.4rem;
  background: #fff;
  vertical-align: middle;
  cursor: pointer;
}
input[type=checkbox]:not(old):checked + label > span,
input[type=radio]:not(old):checked + label > span {
  background: #fff;
}
input[type=checkbox]:not(old):checked + label > span:before {
  content: '\e61d';
  font-family: icomoon;
  display: block;
  width: 1.6rem;
  color: #2da3e0;
  font-size: 1.6rem;
  line-height: 1.1em;
  text-align: center;
  text-shadow: 0 0 0.0714em #2da3e0;
  font-weight: bolder;
}
input[type=checkbox]:not(old) + label {
  cursor: pointer;
}
@media (max-width: 769px) {
  body.modal-open {
    overflow: hidden;
    position: fixed;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .challenges-list .challenge-item .viewed {
    width: 5.8rem;
    padding-bottom: 0.7rem;
    line-height: 1.4rem;
    text-align: center;
  }
  .challenges-list .challenge-item .viewed i {
    margin-left: 1.2rem;
  }
}
h3.title {
  margin-bottom: 0.5rem;
  font-family: OpenSans-Bold;
  font-size: 2.2rem;
  color: #7c7c7c;
  text-transform: uppercase;
}
.input-dropdown .btn {
  margin-left: 0px;
  color: #fff;
  background-color: #12d37b;
}
.input-dropdown .btn:hover {
  background-color: #10bc6d;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.input-dropdown .btn span {
  border-top: 8px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
