.widgets {
  .modal-body {
    font-family: OpenSans-Regular;
    color: @text-gray5;
  }
  &.modal {
    .close {
      text-align: right;
      position: absolute;
      top: -3rem;
      right: 1rem;
      opacity: 1;
      cursor: pointer;

      span {
        font-size: 3rem;
        font-weight: bold;
        color: #dadada;
        &:hover {
          color: #cccccc;
        }
      }
    }

    .modal-content {
      box-shadow: none;

      .modal-body.info-modals {
        padding: 1.5rem 4.5rem;
        font-size: 1.3rem;
        h2 {
          margin-bottom: 2rem;
        }
      }

      .modal-body .text-center i[class*='icon-'] {
        display: inline-block;
        padding-bottom: 1rem;
        color: @blue_text3;
        font-size: 5rem;
      }

      .modal-body h2.modal-title {
        text-align: center;
        text-transform: capitalize;
        color: @text-gray5;
        font-size: 2.7rem;
      }

      & > div {
        padding: 3rem 0rem 4rem;
        overflow: hidden;
      }

      .btn-green {
        height: 4.5rem;
        font-size: 1.8rem;
        font-family: OpenSans-Bold;
      }
    }
  }
}