#forgotPassword{
  &.forgotPassword{
    .desc{
      font-size: 1.3rem;
      margin-bottom: 3rem;
    }

    input{
      text-align: center;
    }

    .btn-green{
      margin-top: 1rem;
    }
  }
}