#judgingInfo{
  &.judgingInfo{
    ul{
      color: @blue_text3;
      margin: 1.5rem 0 1.5rem -2.3rem;

      span{
        color: @text-gray5;
        margin-left: -0.5rem;
        display: block;
      }

      &+.judging-desc{
        margin-bottom: 1.5rem;
      }
    }

    .judging-desc{
      font-family: OpenSans-Bold;
    }
  }
}