#login{
  &.login{

  }


  & *::first-letter{
    text-transform: uppercase;
  }
  form{
    margin-top: 1.5rem;
  }
  .desc, input, .btn-link, .checkbox{
    text-align: center;
    font-size: 1.3rem;
    font-family: OpenSans-Regular;
  }
  .btn-link{
    padding-top: 0rem;
  }

  .checkbox{
    color: @text-gray5;
  }
  .btn-green{
    margin-top: 1rem;
  }

  .form-group{
    margin-bottom: 0.7rem;
  }


}