@media (max-width: 99.5rem){
  #example{
    &.example{

    }
  }
}

@media (max-width: 76.8rem){
  #example{
    &.example{

    }
  }
}

@media (max-width: 36rem) {
  #example{
    &.example{

    }
  }
}

@media (max-width: 420px) {
  #register{
    &.register{
      .terms-link{
        margin-top: -3.2rem;
      }

      form + span{
        display: block;
        width: 70%;
      }
    }
  }
}