//MODAL
.register a{
  color: @blue_text1;
  cursor: pointer;

}
#register.register{
  padding-top: 1rem;
  font-size: 1.3rem;

  .modal-body{
    padding-top: 3rem;
    padding-bottom: 5rem;

    .close{
      top: -0.7rem;
    }
  }

  .container{
    max-width: 34.7rem;
    color: @text-gray5;

    label{
      outline: none;
    }

    &>.btn-green{
      display: block;
      margin: 0 auto;
      width: 21.5rem;
      margin-top: 3rem;
    }
  }
  .icon-newaccount{
    font-size: 6.5rem;
    color: @bg-blue3;
  }

  h3{
    font-size: 2.66rem;
    margin-bottom: 0.4rem;

    &+a{
      display: block;
    }
  }



  .username-label{
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  form {
    &+ span{
      font-size: 1.1rem;
    }
    .dropdown .dropdown-menu{
      max-height: 22rem;
      width: 22rem;
      overflow-y: auto;
      margin-left: -18.1rem;

      a{
        color: #000000;
        white-space: normal;
        &:hover{
          background-color: #428BCA;
          color: #ffffff;
        }
      }
    }
    .btn{
      margin-left: 0px;
      color: #fff;
      .bgBtn(@green);


      span{
        border-top: 8px solid;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
      }
    }

    .form-group{
      margin-bottom: 8px;
    }
  }
  form + span, .username-label{
    color: @text-gray2;
  }
  .terms-link{
    float: right;

    &+div{
      margin-top: 3rem;
      margin-bottom: 0.6rem;
    }
  }



}