#videoGuidelines{
  &.videoGuidelines{

    ul{
      color: @blue_text3;
      margin: 1.5rem 0 1.5rem -2.3rem;

      span{
        color: @text-gray5;
        font-family: OpenSans-Bold;
        margin-left: -0.5rem;
      }
    }

    .icon-VideoGuidelinesIcon{
      font-size: 6.5rem;
    }

  }
}