#categories .header-left-part {
  line-height: 10rem;
  height: 10rem;
}
#categories .header-right-part {
  line-height: 10rem;
  height: 10rem;
  text-align: right;
}
#categories h3.title {
  margin: 0;
  vertical-align: middle;
  line-height: 10rem;
  height: 10rem;
}
#categories ul.main-category-list {
  font-size: 1.8rem;
  color: #7c7c7c;
  text-transform: uppercase;
  list-style-type: none;
  padding: 0;
}
#categories ul.main-category-list img {
  display: block;
  margin-bottom: 1.5rem;
}
#categories ul.subcategories-list {
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  font-size: 1.3rem;
  color: #7c7c7c;
  list-style-type: none;
  padding: 0;
}
#categories ul.subcategories-list li {
  padding: 0;
}
#categories ul.subcategories-list li a {
  text-transform: none;
  color: #2da3e0;
}
#categories .btn-purple {
  background-color: #aa72cb;
  width: 20.6rem;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
#categories .btn-purple:hover {
  background-color: #9f5fc4;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 767px) {
  #categories .header-left-part {
    text-align: center;
  }
  #categories .header-right-part {
    text-align: center;
  }
  #categories li {
    text-align: center;
  }
  #categories li img {
    margin: 0 auto 1.5rem;
  }
}
