#footer.footer(data-ng-controller="footer.ctrl.main"  data-ng-cloak )
  .container
    .row.footer-nav.hidden-xs
      .navbar-header
        button.navbar-toggle(type="button" data-ng-click="isCollapsed = !isCollapsed")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

      #footer-nav-collapse.collapse.navbar-collapse(collapse="!isCollapsed")
        ul.nav.navbar-nav.footer-nav
          li
            a(href="#") {{lang.terms}}
          li
            a(href="#") {{lang.how_works}}
          li
            a(href="#") {{lang.faq}}

