
<div id="footer" data-ng-controller="footer.ctrl.main" data-ng-cloak="data-ng-cloak" class="footer">
  <div class="container">
    <div class="row footer-nav hidden-xs">
      <div class="navbar-header">
        <button type="button" data-ng-click="isCollapsed = !isCollapsed" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <div id="footer-nav-collapse" collapse="!isCollapsed" class="collapse navbar-collapse">
        <ul class="nav navbar-nav footer-nav">
          <li><a href="#">{{lang.terms}}</a></li>
          <li><a href="#">{{lang.categ}}</a></li>
          <li><a href="#">{{lang.browse}}</a></li>
          <li><a href="#">{{lang.how_works}}</a></li>
          <li><a href="#">{{lang.faq}}</a></li>
        </ul>
      </div>
    </div>
    <div class="row footer-contacts">
      <div class="col-md-2 col-sm-6">
        <div class="footer-contacts-caps">{{lang.follow_us}}</div>
        <div class="social"><a href="#" class="icon-twiiter"></a><a href="#" class="icon-facebook"></a><a href="#" class="icon-facebook2"></a></div>
      </div>
      <div class="link-list col-md-4 col-sm-6">
        <div class="divider"></div>
        <div class="like-buttons-wrapper">
          <div class="footer-contacts-caps">{{lang.share_us}}</div>
          <div class="like-buttons"><iframe class = "google_plus" src="https://plusone.google.com/_/+1/fastbutton?bsv&amp;size=medium&amp;hl=en-US&amp;url=http://vidogee.com/&amp;parent=http://test.com/" allowtransparency="true" frameborder="0" scrolling="no" title="+1" height=20></iframe>
            <iframe src="http://www.facebook.com/plugins/like.php?locale=en_US&amp;href=http%3A%2F%2Fvidogee.com&amp;amp;&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;appId=242089305980770" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            <iframe src="https://platform.twitter.com/widgets/tweet_button.html?url=http://vidogee.com&amp;counturl=http://vidogee.com" title="Twitter Tweet Button" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="divider"></div>
        <div class="footer-contacts-caps">{{lang.subscr_us}}</div>
        <div class="input-group">
          <input type="text"/><span class="input-group-btn">
            <button type="button" class="btn">{{lang.ok}}</button></span>
        </div>
      </div>
      <div class="contact col-md-3 col-sm-6 col-xs-6">
        <div class="divider"></div>
        <div class="contact-wrapper">
          <div class="footer-contacts-caps">{{lang.contact_us}}</div>
          <button type="button" class="btn btn-mail icon-envelope2"></button>
        </div>
      </div>
    </div>
  </div>
</div>