#changePassword.changePassword(data-ng-cloak)
  .modal-body
    .close(title="Close" )
      span(aria-hidden="true" data-ng-click = "cancel()") &times;
    .row
      .col-md-12
        .text-center
          i.icon-signinlock
        h2.modal-title {{ lang.change_pass }}

    //- form for change password
    form#changePasswordForm.form-horizontal.col-sm-8.col-sm-offset-2(
    role="form"
    name="changePasswordForm"
    data-ng-submit="submit(changePasswordForm)"
    form-autofill-fix
    novalidate
    )
      //- old_password
      .form-group(data-ng-class="{'has-error':err_old_password_req || server_errs.oldPassword.show}")
        .row
          .controls.col-md-12
            input.form-control(
            type="password"
            name="old_password"
            placeholder="{{lang.old_pass}}"
            data-ng-model="changePassword.oldPassword"
            data-ng-click="errorsHide('oldPassword')"
            required="true"
            )
            .err-msg(data-ng-show="err_old_password_req=changePasswordForm.old_password.$error.required && !changePasswordForm.old_password.$pristine") {{ lang.error.required }}
            .err-msg(data-ng-show="server_errs.oldPassword.show") {{ server_errs.oldPassword.msg }}

      //- new_password
      .form-group(data-ng-class="{'has-error':err_password_req}")
        .row
          .controls.col-md-12
            input.form-control(
            type="password"
            name="new_password"
            placeholder="{{lang.new_pass}}"
            data-ng-model="changePassword.newPassword"
            required="true"
            )
            .err-msg(data-ng-show="err_password_req=changePasswordForm.new_password.$error.required && !changePasswordForm.new_password.$pristine") {{ lang.error.required }}
              //- changePassword button
      .form-group
        .row
          .controls.col-md-8.col-md-offset-2
            button.btn.btn-green.form-control(
            type="submit"
            ) {{ lang.change_pass }}