#forgotPassword.forgotPassword(data-ng-cloak )
  .modal-body
    .close(title="Close" )
      span(aria-hidden="true" data-ng-click = "cancel()") &times;
    .row
      .col-md-12
        .text-center
          i.icon-signinlock
        h2.modal-title {{ lang.forgot_pass }}
        .text-center
          div.desc {{ lang.enter_emil_desc }}
    //- form for forgotPassword
    form.form-horizontal.col-sm-8.col-sm-offset-2(
    role="form"
    name="forgotPasswordForm"
    data-ng-submit="submit(forgotPasswordForm)"
    form-autofill-fix
    novalidate
    )
      .error-box
      //- Email
      .form-group(data-ng-class="{'has-error': !forgotPasswordForm.email.$valid && !forgotPasswordForm.email.$pristine || server_errs.email.show}")
        .row
          .controls.col-md-10.col-md-offset-1
            input.form-control(
            name="email"
            type="email"
            placeholder="{{lang.enter_emil}}"
            data-ng-model="forgotPassword.email"
            data-ng-click="errorsHide('email')"
            required="true"
            )
            .err-msg(data-ng-show="forgotPasswordForm.email.$error.required && !forgotPasswordForm.email.$pristine") {{ lang.error.required }}
            .err-msg(data-ng-show="forgotPasswordForm.email.$error.email && !forgotPasswordForm.email.$pristine") {{ lang.error.email }}
            .err-msg(data-ng-show="server_errs.email.show") {{ server_errs.email.msg }}

      .form-group
        .row
          .col-md-8.col-md-offset-2
            .controls.col-md-12
              button.btn.btn-green.form-control(
              type="submit"
              ) {{ lang.retrieve_pass }}

