#judgingInfo.judgingInfo(data-ng-cloak)
  .modal-body.info-modals
    .close(title="Close" )
      span(aria-hidden="true" data-ng-click = "dismissModal()") &times;
    .row
      .col-md-12
        .text-center
          i.icon-VideoGuidelinesIcon
        h2.modal-title {{ lang.judging_info }}

    .row
      .col-md-12
        p {{ lang.most_part }}
        div.judging-desc {{ lang.judging_is }}

        ul
          li(data-ng-repeat="judging_info in lang.judging_info_list")
            span {{judging_info}}

        div.judging-desc {{ lang.get_points }}

        p {{ lang.points_are }}