#login.login(data-ng-cloak )
  .modal-body
    .close(title="Close" )
      span(aria-hidden="true" data-ng-click = "cancel()") &times;
    .row
      .col-md-12
        .text-center
          i.icon-signinlock
        h2.modal-title {{ lang.sing_in }}
        .text-center
          a.btn.btn-link(data-ng-click="cancel(); $location.openModal('/register')") {{ lang.desc }}
    //- form for login
    form.form-horizontal.col-sm-8.col-sm-offset-2(
    role="form"
    name="loginForm"
    data-ng-submit="submit(loginForm)"
    form-autofill-fix
    novalidate
    )
      .error-box
      //- username or email
      .form-group(data-ng-class="{'has-error': err_email_req || server_errs.username.show}")
        .row
          .controls.col-md-10.col-md-offset-1
            input#email_username.form-control(
            name="username"
            type="text"
            placeholder="{{lang.username}}"
            data-ng-model="login.username"
            data-ng-click = "errorsHide('username')"
            required="true"
            )
            .err-msg(data-ng-show="err_email_req=loginForm.username.$error.required && !loginForm.username.$pristine") {{ lang.error.required }}
            .err-msg(data-ng-show="server_errs.username.show") {{ server_errs.username.msg }}
      //- Password
      .form-group(data-ng-class="{'has-error':err_password_req || server_errs.username.show}")
        .row
          .controls.col-md-10.col-md-offset-1
            input#password.form-control(
            type="password"
            name="password"
            placeholder="{{lang.password}}"
            data-ng-model="login.password"
            data-ng-click = "errorsHide('password')"
            required="true"
            )
            .err-msg(data-ng-show="err_password_req=loginForm.password.$error.required && !loginForm.password.$pristine") {{ lang.error.required }}
              //- login button
      .text-center
        .row
          .controls.col-md-10.col-md-offset-1
            a.btn.btn-link(data-ng-click="cancel(); $location.openModal('/forgot-password')") {{ lang.forgot_p }}

      .form-group
        .row.text-center
          .col-md-10.col-md-offset-1
            input#remember.hide(
              type="checkbox"
              name="remember"
              data-ng-init="login.remember=false"
              data-ng-model="login.remember"
            )
            label.checkbox(for="remember")
              span
              | {{ lang.keep_me }}

      .form-group
        .row
          .col-md-8.col-md-offset-2
            .controls.col-md-12
              button#login.btn.btn-green.form-control(
              type="submit"

              ) {{ lang.sing_in }}

