#register.register(data-ng-cloak)
  .modal-body
    .close(title="Close" )
      span(aria-hidden="true" ng-click = "cancel()") &times;

    .container
      .icon-newaccount.text-center

      h3.text-center {{ lang.create_acc }}
      a.text-center(href="" data-ng-click="cancel(); $location.openModal('/login')") {{ lang.already }}
      .username-label {{ lang.need_info }}

      form.form-horizontal.col-sm-12(
      role="form"
      name="registerForm"
      data-ng-submit="submit(registerForm)"
      form-autofill-fix
      novalidate
      )
        //- Username
        .form-group(data-ng-class="{'has-error': !registerForm.username.$valid && !registerForm.username.$pristine || server_errs.username.show}")
          .row
            .controls.col-md-12
              input#username.form-control(
              name="username"
              type="text"
              placeholder="{{lang.username}}"
              data-ng-model="registerObj.username"
              data-ng-click="errorsHide('username')"
              data-ng-pattern="/^[A-Za-z0-9_]{3,17}$/"
              maxlength="17"
              required="true"
              )
              .err-msg(data-ng-show="registerForm.username.$error.required && !registerForm.username.$pristine") {{ lang.error.required }}
              .err-msg(data-ng-show="registerForm.username.$error.pattern && !registerForm.username.$pristine") {{ lang.error.pattern_error }}
              .err-msg(data-ng-show="server_errs.username.show") {{ server_errs.username.msg }}
        //- Email
        .form-group(data-ng-class="{'has-error': !registerForm.email.$valid && !registerForm.email.$pristine || server_errs.email.show}")
          .row
            .controls.col-md-12
              input#email.form-control(
              name="email"
              type="email"
              placeholder="{{lang.email_only}}"
              data-ng-model="registerObj.email"
              data-ng-click="errorsHide('email')"
              required="true"
              )
              .err-msg(data-ng-show="registerForm.email.$error.required && !registerForm.email.$pristine") {{ lang.error.required }}
              .err-msg(data-ng-show="registerForm.email.$error.email && !registerForm.email.$pristine") {{ lang.error.email }}
              .err-msg(data-ng-show="server_errs.email.show") {{ server_errs.email.msg }}

        //- Country
        .form-group(data-ng-class="{'has-error': !registerForm.country.$valid && !registerForm.country.$pristine }")
          .row
            .controls.col-md-12
              .input-group
                input#country.form-control(
                name="country"
                type="text"
                placeholder="{{lang.country}}"
                data-ng-model="registerObj.country"
                data-ng-click="errorsHide()"
                required="true"
                typeahead="country as country.name for country in lang.countries | filter:$viewValue | limitTo:8"
                typeahead-editable="false"
                )
                span.input-group-btn.dropdown
                  button.btn.dropdown-toggle(type="button")
                    span.caret
                  ul.dropdown-menu(role="menu" )
                    li(ng-repeat="country in lang.countries")
                      a(href="" ng-click="registerObj.country = country") {{country.name}}

              .err-msg(data-ng-show="registerForm.country.$error.required && !registerForm.country.$pristine") {{ lang.error.required }}
              .err-msg(data-ng-show="registerForm.country.$error.editable && !registerForm.country.$pristine") {{ lang.error.country_match }}
        //- Password
        .form-group(ng-class="{'has-error': !registerForm.password.$valid && !registerForm.password.$pristine}")
          .row
            .controls.col-md-12
              input.form-control(
              type="password"
              name="password"
              placeholder="{{lang.password2}}"
              data-ng-model="registerObj.password"
              data-ng-click="errorsHide()"
              maxlength="17"
              data-ng-pattern="/.{6,17}/"
              required="true"
              title="5 to 10 characters"
              )
              .err-msg(data-ng-show="registerForm.password.$error.required && !registerForm.password.$pristine") {{ lang.error.required }}
              .err-msg(data-ng-show="registerForm.password.$error.pattern && !registerForm.password.$pristine") {{ lang.error.pass_pattern_error }}
        //- Password confirmation
        .form-group(data-ng-class="{'has-error': !registerForm.password_confirm.$valid && !registerForm.password_confirm.$pristine || err_password_match}")
          .row
            .controls.col-md-12
              input.form-control(
              type="password"
              name="password_confirm"
              placeholder="{{lang.password_confirm}}"
              data-ng-model="passwordConfirm"
              data-ng-click="errorsHide()"
              required="true"
              )
              .err-msg(data-ng-show="registerForm.password_confirm.$error.required && !registerForm.password_confirm.$pristine") {{ lang.error.required }}
              .err-msg(data-ng-show="err_password_match = passwordConfirm != registerObj.password && !registerForm.password_confirm.$pristine") {{ lang.pass_match }}
      span {{ lang.agree }}
      a.terms-link(href="") {{ lang.terms }}
      div {{ lang.judge }}&nbsp;
        a(data-ng-click="cancel(); $location.openModal('/judging-info')") {{ lang.more_info }}
      input.css-checkbox(id="checkbox-judge" type="checkbox" ng-init="registerObj.judge=false" data-ng-model="registerObj.judge")
      label.css-label(for="checkbox-judge" data-ng-model="registerObj.judge")
        span
        {{ lang.can_judge }}
      button.btn.btn-green(type="button" data-ng-click="submit(registerForm)") {{ lang.join_us }}