#restorePassword.restorePassword(data-ng-cloak )
  .modal-body
    .close(title="Close" )
      span(aria-hidden="true" data-ng-click = "cancel()") &times;
    .row
      .col-md-12
        .text-center
          i.icon-signinlock
        h2.modal-title {{ lang.pass_restoring }}
        .text-center
          div.desc {{ lang.enter_new_pass }}
    //- form for restorePassword
    form.form-horizontal.col-sm-8.col-sm-offset-2(
    role="form"
    name="restorePasswordForm"
    data-ng-submit="submit(restorePasswordForm)"
    form-autofill-fix
    novalidate
    )
      .error-box
      //- password
      .form-group(data-ng-class="{'has-error':err_pass_req || server_errs.password.show}")
        .row
          .controls.col-md-10.col-md-offset-1
            input.form-control(
            name="password"
            type="password"
            placeholder="{{lang.new_pass}}"
            data-ng-model="restorePassword.password"
            data-ng-click="errorsHide('password')"
            required="true"
            )
            .err-msg(data-ng-show="err_pass_req=restorePasswordForm.password.$error.required && !restorePasswordForm.password.$pristine") {{ lang.error.required }}
            .err-msg(data-ng-show="server_errs.password.show") {{ server_errs.password.msg }}
      //- restore button
      .form-group
        .row
          .col-md-8.col-md-offset-2
            .controls.col-md-12
              button.btn.btn-green.form-control(
              type="submit"
              ) {{ lang.restore_pass }}

