#videoGuidelines.videoGuidelines(data-ng-cloak)
  .modal-body.info-modals
    .close(title="Close" )
      span(aria-hidden="true" data-ng-click = "dismissModal()") &times;
    .row
      .col-md-12
        .text-center
          i.icon-VideoGuidelinesIcon
        h2.modal-title {{ lang.video_guidelines }}

    .row
      .col-md-12
        p {{ lang.vid_is_here }}
        p {{ lang.sense }}

        ul
          li(data-ng-repeat="guideline in lang.guidelines_list")
            span {{guideline}}

        p {{ lang.not_post }}