.challenge-item
  a(href="#")
    .b-img
      img(data-ng-src="{{ challenge.thumbnail }}" alt="{{ challenge.thumbnail }}")
      .title {{ challenge.title }}
      .status(
        data-ng-class="{'icon-lock':challenge.open, 'icon-unlock':!challenge.open}"
      )
      .people-video-block
        .people
          i
          | {{ gLang.max_entrants }}: {{ challenge.people }}
        .videos
          i
          | {{ gLang.video_submitted }}: {{ challenge.videos}}
      .video.viewed
        i.icon-eye
        | {{ challenge.viewed | number}}
