.video-item
  a(href="#")
    .b-img
      img(data-ng-src="{{ video.thumbnail }}" alt="{{ video.thumbnail }}")
      .time {{ video.time }}
      .video.create
        i.icon-calendar
        | {{ video.create }}
      .video.viewed
        i.icon-eye
        | {{ video.viewed | number}}
  .b-info
    .pull-left
      a.video.name.btn.btn-link(href="/users/{{ video.author_id }}")
        i.icon-user
        | {{ video.author }}
    .rating.pull-right
      rating(
        data-ng-model="video.rating"
        max="5"
        state-on="'icon-starrating checked'"
        state-off="'icon-starrating'"
        readonly="true"
      )
