@media (max-width: 99.5rem){
  #example{
    &.example{

    }
  }
}

@media (max-width: 76.8rem){
  #example{
    &.example{

    }
  }
}

@media (max-width: 36rem) {
  #example{
    &.example{

    }
  }
}