
<div id="footer" data-ng-controller="footer.ctrl.main" data-ng-cloak="data-ng-cloak" class="footer">
  <div class="container">
    <div class="row footer-nav hidden-xs">
      <div class="navbar-header">
        <button type="button" data-ng-click="isCollapsed = !isCollapsed" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <div id="footer-nav-collapse" collapse="!isCollapsed" class="collapse navbar-collapse">
        <ul class="nav navbar-nav footer-nav">
          <li><a href="#">{{lang.terms}}</a></li>
          <li><a href="#">{{lang.how_works}}</a></li>
          <li><a href="#">{{lang.faq}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>