#home.home(data-ng-controller="home.ctrl.main"  data-ng-cloak )
  header.header(data-ng-hide="logged")
    .container
      .row
        .left-side.col-md-12.col-sm-12.text-center
          h2 Hi, this is a tool by which you can book different stuff
          a.btn.btn-green(href="/booking/ping-pong") Start Booking




