#header.header {
  background: #007FC4;
}
#header a {
  color: #fff;
}
#header h1 {
  display: inline-block;
  margin: 0rem;
  padding-top: 0.7rem;
  line-height: 7rem;
  font-size: 3.9rem;
  font-family: OpenSans-Light;
  color: #b2b2b2;
  text-transform: capitalize;
}
#header nav {
  background: #0071bc;
  border-radius: 0rem;
  margin-bottom: 0rem;
}
#header nav .navbar-header button {
  background: #fff;
}
#header nav .navbar-header button .icon-bar {
  background: #0071bc;
}
#header nav .navbar-collapse {
  padding: 0rem;
}
#header nav .navbar-collapse ul {
  margin: 1rem 0rem;
}
#header nav .navbar-collapse li {
  margin-right: 5rem;
}
#header nav .navbar-collapse li:last-child a {
  text-transform: uppercase;
}
#header nav .navbar-collapse a {
  padding: 0.5rem 2rem;
  text-align: left;
  font-family: OpenSans-Regular;
  font-size: 1.4rem;
  color: #fff;
  border-radius: 0.3rem;
}
#header nav .navbar-collapse a::first-letter {
  text-transform: uppercase;
}
#header nav .navbar-collapse a:hover {
  background: #1291e5;
}
#header .container {
  position: relative;
}
#header .b-btn {
  text-align: right;
}
#header .logo {
  height: 9rem;
  padding: 1.5rem 0rem;
  display: inline-block;
  color: #fff;
}
#header .logo img {
  height: 100%;
}
#header .buttons {
  display: inline-block;
  line-height: 9rem;
}
#header .buttons > * {
  text-transform: capitalize;
  font-size: 1.3rem;
  font-family: OpenSans-Regular;
}
#header .buttons .search {
  margin-left: 1rem;
}
#header .person_name {
  font-family: OpenSans-Bold;
}
#header .v-line:after {
  top: 20%;
  height: 60%;
}
@media (max-width: 99.5rem) {
  #header h1 {
    font-size: 3rem;
  }
}
@media (max-width: 76.8rem) {
  #header .buttons .search {
    margin: 0rem;
  }
  #header nav .navbar-collapse li {
    margin-right: 0rem;
  }
}
@media (max-width: 36rem) {
  #header .logo {
    width: 6rem;
    overflow: hidden;
  }
}
