.judging#judging(data-ng-controller="booking.ctrl.billiard" data-ng-cloak)
  div(data-ng-include="'/modules/booking/views/tabs.html'")
  .container.booking-list#booking-list
    a.btn.btn-green(href="") Book
    ul
      li(data-ng-repeat="billiardItem in billiardList.list" data-ng-class="{'current-playing': billiardItem.current, 'is-you' : billiardItem.you}")
        span.player-number {{billiardItem.number}}
        span.player-name {{billiardItem.name}}
        span.is-playing-item(data-ng-show="billiardItem.current")  - curent playing
        span.time-left(data-ng-show="billiardItem.current")  {{billiardItem.timeLeft + "min"}}
        span.is-you-item(data-ng-show="billiardItem.you")  - YOU
        .btn.btn-danger(data-ng-show="billiardItem.you") cancel booking