.gaming#gaming(data-ng-controller="booking.ctrl.gaming" data-ng-cloak)
  div(data-ng-include="'/modules/booking/views/tabs.html'")
  .container.booking-list#booking-list
    a.btn.btn-green(href="") Book
    ul
      li(data-ng-repeat="gamingItem in gamingList.list" data-ng-class="{'current-playing': gamingItem.current}")
        span.player-number {{gamingItem.number}}
        span.player-name {{gamingItem.name}}
        span.is-playing-item(data-ng-show="gamingItem.current")  - curent playing
        span.time-left(data-ng-show="gamingItem.current")  {{gamingItem.timeLeft + "min"}}
        span.is-you-item(data-ng-show="gamingItem.you")  - YOU
        .btn.btn-danger(data-ng-show="gamingItem.you") cancel booking