.pingPong#pingPong(data-ng-controller="booking.ctrl.pingPong" data-ng-cloak)
  div(data-ng-include="'/modules/booking/views/tabs.html'")
  .container.booking-list#booking-list
    a.btn.btn-green(href="") Book
    ul
      li(data-ng-repeat="pingPongItem in pingPongList.list" data-ng-class="{'current-playing': pingPongItem.current, 'is-you' : pingPongItem.you}")
        span.player-number {{pingPongItem.number}}
        span.player-name {{pingPongItem.name}}
        span.is-playing-item(data-ng-show="pingPongItem.current")  - curent playing
        span.time-left(data-ng-show="pingPongItem.current")  {{pingPongItem.timeLeft + "min"}}
        span.is-you-item(data-ng-show="pingPongItem.you")  - YOU
        .btn.btn-danger(data-ng-show="pingPongItem.you") cancel booking