#tabs.tabs
  .container
    ul.nav.nav-tabs.nav-justified
      li(data-ng-class="{'active': activeTab == 'pingPong'}")
        a(href="/booking/ping-pong" ) {{lang.ping_pong}}
      li(data-ng-class="{'active': activeTab == 'billiard'}")
        a(href="/booking/billiard") {{lang.billiard}}
      li(data-ng-class="{'active': activeTab == 'gaming'}")
        a(href="/booking/gaming") {{lang.gaming}}
