
<div id="judging" data-ng-controller="booking.ctrl.billiard" data-ng-cloak="data-ng-cloak" class="judging">
  <div data-ng-include="'/modules/booking/views/tabs.html'"></div>
  <div id="booking-list" class="container booking-list"><a href="" class="btn btn-green">Book</a>
    <ul>
      <li data-ng-repeat="billiardItem in billiardList.list" data-ng-class="{'current-playing': billiardItem.current, 'is-you' : billiardItem.you}"><span class="player-number">{{billiardItem.number}}</span><span class="player-name">{{billiardItem.name}}</span><span data-ng-show="billiardItem.current" class="is-playing-item"> - curent playing</span><span data-ng-show="billiardItem.current" class="time-left"> {{billiardItem.timeLeft + "min"}}</span><span data-ng-show="billiardItem.you" class="is-you-item"> - YOU</span>
        <div data-ng-show="billiardItem.you" class="btn btn-danger">cancel booking</div>
      </li>
    </ul>
  </div>
</div>