
<div id="gaming" data-ng-controller="booking.ctrl.gaming" data-ng-cloak="data-ng-cloak" class="gaming">
  <div data-ng-include="'/modules/booking/views/tabs.html'"></div>
  <div class="container">
    <h2>gaming view</h2>
  </div>
</div>