
<div id="gaming" data-ng-controller="booking.ctrl.gaming" data-ng-cloak="data-ng-cloak" class="gaming">
  <div data-ng-include="'/modules/booking/views/tabs.html'"></div>
  <div id="booking-list" class="container booking-list"><a href="" class="btn btn-green">Book</a>
    <ul>
      <li data-ng-repeat="gamingItem in gamingList.list" data-ng-class="{'current-playing': gamingItem.current}"><span class="player-number">{{gamingItem.number}}</span><span class="player-name">{{gamingItem.name}}</span><span data-ng-show="gamingItem.current" class="is-playing-item"> - curent playing</span><span data-ng-show="gamingItem.current" class="time-left"> {{gamingItem.timeLeft + "min"}}</span><span data-ng-show="gamingItem.you" class="is-you-item"> - YOU</span>
        <div data-ng-show="gamingItem.you" class="btn btn-danger">cancel booking</div>
      </li>
    </ul>
  </div>
</div>