
<div id="pingPong" data-ng-controller="booking.ctrl.pingPong" data-ng-cloak="data-ng-cloak" class="pingPong">
  <div data-ng-include="'/modules/booking/views/tabs.html'"></div>
  <div id="booking-list" class="container booking-list"><a href="" class="btn btn-green">Book</a>
    <ul>
      <li data-ng-repeat="pingPongItem in pingPongList.list" data-ng-class="{'current-playing': pingPongItem.current, 'is-you' : pingPongItem.you}"><span class="player-number">{{pingPongItem.number}}</span><span class="player-name">{{pingPongItem.name}}</span><span data-ng-show="pingPongItem.current" class="is-playing-item"> - curent playing</span><span data-ng-show="pingPongItem.current" class="time-left"> {{pingPongItem.timeLeft + "min"}}</span><span data-ng-show="pingPongItem.you" class="is-you-item"> - YOU</span>
        <div data-ng-show="pingPongItem.you" class="btn btn-danger">cancel booking</div>
      </li>
    </ul>
  </div>
</div>