
<div id="tabs" class="tabs">
  <div class="container">
    <ul class="nav nav-tabs nav-justified">
      <li data-ng-class="{'active': activeTab == 'pingPong'}"><a href="/booking/ping-pong">{{lang.ping_pong}}</a></li>
      <li data-ng-class="{'active': activeTab == 'billiard'}"><a href="/booking/billiard">{{lang.billiard}}</a></li>
      <li data-ng-class="{'active': activeTab == 'gaming'}"><a href="/booking/gaming">{{lang.gaming}}</a></li>
    </ul>
  </div>
</div>