#header.header(data-ng-controller="header.ctrl.main"  data-ng-cloak )
  .container
    .row
      .col-lg-7.col-md-8.col-sm-8.col-xs-2
        a.logo(href='/home')
          img(src="web/img/logo.png" alt="videgee")
        h1.pull-right.hidden-xs {{lang.title}}

      .b-btn.col-lg-5.col-md-4.col-sm-4.col-xs-10
        .buttons
          a.btn.btn-link.v-line(
          data-ng-click="$location.openModal('/login')"
          data-ng-show="btn_login"
          ) {{ lang.login }}
          a.btn.btn-link(
          data-ng-click="$location.openModal('/register')"
          data-ng-show="btn_login"
          ) {{ lang.register }}
          .btn-group(data-ng-show="!btn_login" dropdown)
            button.btn.btn-link.person_name.dropdown-toggle(type="button")
              | {{ user_name }}
              span.caret
            ul.dropdown-menu
              li
                a(href="/profile") {{ lang.profile }}
              li
                a(
                  href="#"
                  data-ng-click="logout()"
                  ) {{ lang.logout }}




