
<div id="changePassword" data-ng-cloak="data-ng-cloak" class="changePassword">
  <div class="modal-body">
    <div title="Close" class="close"><span aria-hidden="true" data-ng-click="cancel()">&times;</span></div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center"><i class="icon-signinlock"></i></div>
        <h2 class="modal-title">{{ lang.change_pass }}</h2>
      </div>
    </div>
    <form id="changePasswordForm" role="form" name="changePasswordForm" data-ng-submit="submit(changePasswordForm)" form-autofill-fix="form-autofill-fix" novalidate="novalidate" class="form-horizontal col-sm-8 col-sm-offset-2">
      <div data-ng-class="{'has-error':err_old_password_req || server_errs.oldPassword.show}" class="form-group">
        <div class="row">
          <div class="controls col-md-12">
            <input type="password" name="old_password" placeholder="{{lang.old_pass}}" data-ng-model="changePassword.oldPassword" data-ng-click="errorsHide('oldPassword')" required="true" class="form-control"/>
            <div data-ng-show="err_old_password_req=changePasswordForm.old_password.$error.required &amp;&amp; !changePasswordForm.old_password.$pristine" class="err-msg">{{ lang.error.required }}</div>
            <div data-ng-show="server_errs.oldPassword.show" class="err-msg">{{ server_errs.oldPassword.msg }}</div>
          </div>
        </div>
      </div>
      <div data-ng-class="{'has-error':err_password_req}" class="form-group">
        <div class="row">
          <div class="controls col-md-12">
            <input type="password" name="new_password" placeholder="{{lang.new_pass}}" data-ng-model="changePassword.newPassword" required="true" class="form-control"/>
            <div data-ng-show="err_password_req=changePasswordForm.new_password.$error.required &amp;&amp; !changePasswordForm.new_password.$pristine" class="err-msg">{{ lang.error.required }}
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="controls col-md-8 col-md-offset-2">
            <button type="submit" class="btn btn-green form-control">{{ lang.change_pass }}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>