
<div id="forgotPassword" data-ng-cloak="data-ng-cloak" class="forgotPassword">
  <div class="modal-body">
    <div title="Close" class="close"><span aria-hidden="true" data-ng-click="cancel()">&times;</span></div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center"><i class="icon-signinlock"></i></div>
        <h2 class="modal-title">{{ lang.forgot_pass }}</h2>
        <div class="text-center">
          <div class="desc">{{ lang.enter_emil_desc }}</div>
        </div>
      </div>
    </div>
    <form role="form" name="forgotPasswordForm" data-ng-submit="submit(forgotPasswordForm)" form-autofill-fix="form-autofill-fix" novalidate="novalidate" class="form-horizontal col-sm-8 col-sm-offset-2">
      <div class="error-box"></div>
      <div data-ng-class="{'has-error': !forgotPasswordForm.email.$valid &amp;&amp; !forgotPasswordForm.email.$pristine || server_errs.email.show}" class="form-group">
        <div class="row">
          <div class="controls col-md-10 col-md-offset-1">
            <input name="email" type="email" placeholder="{{lang.enter_emil}}" data-ng-model="forgotPassword.email" data-ng-click="errorsHide('email')" required="true" class="form-control"/>
            <div data-ng-show="forgotPasswordForm.email.$error.required &amp;&amp; !forgotPasswordForm.email.$pristine" class="err-msg">{{ lang.error.required }}</div>
            <div data-ng-show="forgotPasswordForm.email.$error.email &amp;&amp; !forgotPasswordForm.email.$pristine" class="err-msg">{{ lang.error.email }}</div>
            <div data-ng-show="server_errs.email.show" class="err-msg">{{ server_errs.email.msg }}</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="controls col-md-12">
              <button type="submit" class="btn btn-green form-control">{{ lang.retrieve_pass }}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>