
<div id="judgingInfo" data-ng-cloak="data-ng-cloak" class="judgingInfo">
  <div class="modal-body info-modals">
    <div title="Close" class="close"><span aria-hidden="true" data-ng-click="dismissModal()">&times;</span></div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center"><i class="icon-VideoGuidelinesIcon"></i></div>
        <h2 class="modal-title">{{ lang.judging_info }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>{{ lang.most_part }}</p>
        <div class="judging-desc">{{ lang.judging_is }}</div>
        <ul>
          <li data-ng-repeat="judging_info in lang.judging_info_list"><span>{{judging_info}}</span></li>
        </ul>
        <div class="judging-desc">{{ lang.get_points }}</div>
        <p>{{ lang.points_are }}</p>
      </div>
    </div>
  </div>
</div>