
<div id="login" data-ng-cloak="data-ng-cloak" class="login">
  <div class="modal-body">
    <div title="Close" class="close"><span aria-hidden="true" data-ng-click="cancel()">&times;</span></div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center"><i class="icon-signinlock"></i></div>
        <h2 class="modal-title">{{ lang.sing_in }}</h2>
        <div class="text-center"><a data-ng-click="cancel(); $location.openModal('/register')" class="btn btn-link">{{ lang.desc }}</a></div>
      </div>
    </div>
    <form role="form" name="loginForm" data-ng-submit="submit(loginForm)" form-autofill-fix="form-autofill-fix" novalidate="novalidate" class="form-horizontal col-sm-8 col-sm-offset-2">
      <div class="error-box"></div>
      <div data-ng-class="{'has-error': err_email_req || server_errs.username.show}" class="form-group">
        <div class="row">
          <div class="controls col-md-10 col-md-offset-1">
            <input id="email_username" name="username" type="text" placeholder="{{lang.username}}" data-ng-model="login.username" data-ng-click="errorsHide('username')" required="true" class="form-control"/>
            <div data-ng-show="err_email_req=loginForm.username.$error.required &amp;&amp; !loginForm.username.$pristine" class="err-msg">{{ lang.error.required }}</div>
            <div data-ng-show="server_errs.username.show" class="err-msg">{{ server_errs.username.msg }}</div>
          </div>
        </div>
      </div>
      <div data-ng-class="{'has-error':err_password_req || server_errs.username.show}" class="form-group">
        <div class="row">
          <div class="controls col-md-10 col-md-offset-1">
            <input id="password" type="password" name="password" placeholder="{{lang.password}}" data-ng-model="login.password" data-ng-click="errorsHide('password')" required="true" class="form-control"/>
            <div data-ng-show="err_password_req=loginForm.password.$error.required &amp;&amp; !loginForm.password.$pristine" class="err-msg">{{ lang.error.required }}
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <div class="row">
          <div class="controls col-md-10 col-md-offset-1"><a data-ng-click="cancel(); $location.openModal('/forgot-password')" class="btn btn-link">{{ lang.forgot_p }}</a></div>
        </div>
      </div>
      <div class="form-group">
        <div class="row text-center">
          <div class="col-md-10 col-md-offset-1">
            <input id="remember" type="checkbox" name="remember" data-ng-init="login.remember=false" data-ng-model="login.remember" class="hide"/>
            <label for="remember" class="checkbox"><span></span>{{ lang.keep_me }}</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="controls col-md-12">
              <button id="login" type="submit" class="btn btn-green form-control">{{ lang.sing_in }}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>