
<div id="register" data-ng-cloak="data-ng-cloak" class="register">
  <div class="modal-body">
    <div title="Close" class="close"><span aria-hidden="true" ng-click="cancel()">&times;</span></div>
    <div class="container">
      <div class="icon-newaccount text-center"></div>
      <h3 class="text-center">{{ lang.create_acc }}</h3><a href="" data-ng-click="cancel(); $location.openModal('/login')" class="text-center">{{ lang.already }}</a>
      <div class="username-label">{{ lang.need_info }}</div>
      <form role="form" name="registerForm" data-ng-submit="submit(registerForm)" form-autofill-fix="form-autofill-fix" novalidate="novalidate" class="form-horizontal col-sm-12">
        <div data-ng-class="{'has-error': !registerForm.username.$valid &amp;&amp; !registerForm.username.$pristine || server_errs.username.show}" class="form-group">
          <div class="row">
            <div class="controls col-md-12">
              <input id="username" name="username" type="text" placeholder="{{lang.username}}" data-ng-model="registerObj.username" data-ng-click="errorsHide('username')" data-ng-pattern="/^[A-Za-z0-9_]{3,17}$/" maxlength="17" required="true" class="form-control"/>
              <div data-ng-show="registerForm.username.$error.required &amp;&amp; !registerForm.username.$pristine" class="err-msg">{{ lang.error.required }}</div>
              <div data-ng-show="registerForm.username.$error.pattern &amp;&amp; !registerForm.username.$pristine" class="err-msg">{{ lang.error.pattern_error }}</div>
              <div data-ng-show="server_errs.username.show" class="err-msg">{{ server_errs.username.msg }}</div>
            </div>
          </div>
        </div>
        <div data-ng-class="{'has-error': !registerForm.email.$valid &amp;&amp; !registerForm.email.$pristine || server_errs.email.show}" class="form-group">
          <div class="row">
            <div class="controls col-md-12">
              <input id="email" name="email" type="email" placeholder="{{lang.email_only}}" data-ng-model="registerObj.email" data-ng-click="errorsHide('email')" required="true" class="form-control"/>
              <div data-ng-show="registerForm.email.$error.required &amp;&amp; !registerForm.email.$pristine" class="err-msg">{{ lang.error.required }}</div>
              <div data-ng-show="registerForm.email.$error.email &amp;&amp; !registerForm.email.$pristine" class="err-msg">{{ lang.error.email }}</div>
              <div data-ng-show="server_errs.email.show" class="err-msg">{{ server_errs.email.msg }}</div>
            </div>
          </div>
        </div>
        <div data-ng-class="{'has-error': !registerForm.country.$valid &amp;&amp; !registerForm.country.$pristine }" class="form-group">
          <div class="row">
            <div class="controls col-md-12">
              <div class="input-group">
                <input id="country" name="country" type="text" placeholder="{{lang.country}}" data-ng-model="registerObj.country" data-ng-click="errorsHide()" required="true" typeahead="country as country.name for country in lang.countries | filter:$viewValue | limitTo:8" typeahead-editable="false" class="form-control"/><span class="input-group-btn dropdown">
                  <button type="button" class="btn dropdown-toggle"><span class="caret"></span></button>
                  <ul role="menu" class="dropdown-menu">
                    <li ng-repeat="country in lang.countries"><a href="" ng-click="registerObj.country = country">{{country.name}}</a></li>
                  </ul></span>
              </div>
              <div data-ng-show="registerForm.country.$error.required &amp;&amp; !registerForm.country.$pristine" class="err-msg">{{ lang.error.required }}</div>
              <div data-ng-show="registerForm.country.$error.editable &amp;&amp; !registerForm.country.$pristine" class="err-msg">{{ lang.error.country_match }}</div>
            </div>
          </div>
        </div>
        <div ng-class="{'has-error': !registerForm.password.$valid &amp;&amp; !registerForm.password.$pristine}" class="form-group">
          <div class="row">
            <div class="controls col-md-12">
              <input type="password" name="password" placeholder="{{lang.password2}}" data-ng-model="registerObj.password" data-ng-click="errorsHide()" maxlength="17" data-ng-pattern="/.{6,17}/" required="true" title="5 to 10 characters" class="form-control"/>
              <div data-ng-show="registerForm.password.$error.required &amp;&amp; !registerForm.password.$pristine" class="err-msg">{{ lang.error.required }}</div>
              <div data-ng-show="registerForm.password.$error.pattern &amp;&amp; !registerForm.password.$pristine" class="err-msg">{{ lang.error.pass_pattern_error }}</div>
            </div>
          </div>
        </div>
        <div data-ng-class="{'has-error': !registerForm.password_confirm.$valid &amp;&amp; !registerForm.password_confirm.$pristine || err_password_match}" class="form-group">
          <div class="row">
            <div class="controls col-md-12">
              <input type="password" name="password_confirm" placeholder="{{lang.password_confirm}}" data-ng-model="passwordConfirm" data-ng-click="errorsHide()" required="true" class="form-control"/>
              <div data-ng-show="registerForm.password_confirm.$error.required &amp;&amp; !registerForm.password_confirm.$pristine" class="err-msg">{{ lang.error.required }}</div>
              <div data-ng-show="err_password_match = passwordConfirm != registerObj.password &amp;&amp; !registerForm.password_confirm.$pristine" class="err-msg">{{ lang.pass_match }}</div>
            </div>
          </div>
        </div>
      </form><span>{{ lang.agree }}</span><a href="" class="terms-link">{{ lang.terms }}</a>
      <div>{{ lang.judge }}&nbsp;<a data-ng-click="cancel(); $location.openModal('/judging-info')">{{ lang.more_info }}</a></div>
      <input id="checkbox-judge" type="checkbox" ng-init="registerObj.judge=false" data-ng-model="registerObj.judge" class="css-checkbox"/>
      <label for="checkbox-judge" data-ng-model="registerObj.judge" class="css-label"><span></span>{{ lang.can_judge }}</label>
      <button type="button" data-ng-click="submit(registerForm)" class="btn btn-green">{{ lang.join_us }}</button>
    </div>
  </div>
</div>