
<div id="restorePassword" data-ng-cloak="data-ng-cloak" class="restorePassword">
  <div class="modal-body">
    <div title="Close" class="close"><span aria-hidden="true" data-ng-click="cancel()">&times;</span></div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center"><i class="icon-signinlock"></i></div>
        <h2 class="modal-title">{{ lang.pass_restoring }}</h2>
        <div class="text-center">
          <div class="desc">{{ lang.enter_new_pass }}</div>
        </div>
      </div>
    </div>
    <form role="form" name="restorePasswordForm" data-ng-submit="submit(restorePasswordForm)" form-autofill-fix="form-autofill-fix" novalidate="novalidate" class="form-horizontal col-sm-8 col-sm-offset-2">
      <div class="error-box"></div>
      <div data-ng-class="{'has-error':err_pass_req || server_errs.password.show}" class="form-group">
        <div class="row">
          <div class="controls col-md-10 col-md-offset-1">
            <input name="password" type="password" placeholder="{{lang.new_pass}}" data-ng-model="restorePassword.password" data-ng-click="errorsHide('password')" required="true" class="form-control"/>
            <div data-ng-show="err_pass_req=restorePasswordForm.password.$error.required &amp;&amp; !restorePasswordForm.password.$pristine" class="err-msg">{{ lang.error.required }}</div>
            <div data-ng-show="server_errs.password.show" class="err-msg">{{ server_errs.password.msg }}</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="controls col-md-12">
              <button type="submit" class="btn btn-green form-control">{{ lang.restore_pass }}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>