
<div id="videoGuidelines" data-ng-cloak="data-ng-cloak" class="videoGuidelines">
  <div class="modal-body info-modals">
    <div title="Close" class="close"><span aria-hidden="true" data-ng-click="dismissModal()">&times;</span></div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center"><i class="icon-VideoGuidelinesIcon"></i></div>
        <h2 class="modal-title">{{ lang.video_guidelines }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>{{ lang.vid_is_here }}</p>
        <p>{{ lang.sense }}</p>
        <ul>
          <li data-ng-repeat="guideline in lang.guidelines_list"><span>{{guideline}}</span></li>
        </ul>
        <p>{{ lang.not_post }}</p>
      </div>
    </div>
  </div>
</div>