#profile{
  &.profile{

  }

  font-size: 1.3rem;
  color: @text-gray5;
  font-family: OpenSans-Regular;

  .err-msg{
    text-align: left;
  }

  .container{
    padding-top: 2rem;
  }

  h3{
    font-size: 2.2rem;
    font-family: OpenSans-Bold;
    margin-bottom: 5rem;
  }

  .avatar{
    width: 16.4rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }

  .b-img{
    width: 16.4rem;
    text-align: center;
  }

  .prof-info-title, .prof-info-val{
    font-size: 2rem;
  }

  .prof-info-title{
    color: @text-gray2;
    width: 10rem;
    vertical-align: top;
    display: inline-block;
    position: absolute;
  }

  .prof-info-val{
    padding-left: 10rem;
  }

  .profile-name, .whos-profile{
    font-size: 1.8rem;
    color: @blue_text1;
  }

  .profile-info-block>div{
    margin-top: 2rem;
  }

  .log-info{
    margin-top: 2rem;

    &>div>span{
      font-family: OpenSans-Bold;
    }
  }


  hr{
    border-top: 0.1rem solid @bg-gray7;
    color: red;
    background-color: @bg-gray6;
    height: 1px;
    margin-top: 6rem;
  }

  .edit-block{

    font-size: 1.3rem;
    padding-top: 1.7rem;
    padding-left: 0;


    h4{
      font-size: 2rem;
      margin-bottom: 4.5rem;
    }

    &>div{
      margin: 0 auto;
      display: table;
    }

    form {
      padding-left: 0;
      max-width: 46rem;
      margin-bottom: 8rem;

      & .form-group{
        margin: 1rem 0 0 0;

        .controls{
          display: inline-block;
          width: 29rem;
        }

        .input-dropdown {

          & button{
            margin-left: 0;
            .bgBtn(@bg_blue1);
          }

          .dropdown-menu{
            max-height: 20rem;
            overflow-y: auto;
            margin-left: -12.1rem;
            text-align: center;

            a:hover{
              background-color: @bg_blue1;
              color: #fff;
            }
          }

        }
      }

      &>.row{
        margin-top: 1rem;


      }

      textarea{
        resize: vertical;
        min-height: 13.2rem;
      }

      label:not(.css-label){
        color: @text-gray6;
        font-weight: normal;
        margin-top: 0.7rem;
        margin-left: 0.8rem;
        vertical-align: top;
      }
    }

    .css-label {
      color: @text-gray5;
      margin: 2rem 0;

      & a{
      color: @bg_blue1;
      }
    }

    .btn-green, .btn-blue{
      width: 21.5rem;
    }

    .btn-blue{
      font-family: OpenSans-Regular;
      font-size: 1.3rem;
      padding-top: 1rem;
      padding-bottom: 0;
    }

    .btn-green{
      font-family: OpenSans-Bold;
      font-size: 1.8rem;
      height: 4.3rem;
    }

    .row{
      margin-left: 0;
    }

    .btn-link{
      color: @text-gray7;
      font-size: 1.4rem;
      margin-left: 7rem;
    }
  }

  #fileInput{
    cursor: pointer;
    width: 212px;
    height: 40px;
    outline: 1px solid red;
    margin-top: -28px;
    opacity: 0;
    margin-left: -25px;

    &::-webkit-file-upload-button {
      cursor:pointer;
    }
  }

  .cropArea {
    margin-top: 1rem;
    overflow: hidden;
    width: 100%;
    height:35rem;

    &+.btn-green{
      width: 5rem;
      height: 3.8rem;
      margin: 0.5rem auto 1.5rem auto;
      display: block;
    }
  }

  .cropPreview{
    div{
      margin-bottom: 0.5rem;
      margin-top: 1rem;
    }
  }

}