@media (max-width: 991px){
  #profile{
    &.profile{
      .avatar-block{
        text-align: center;

        &+div{
          padding-top: 5rem;
        }
      }

      .profile-name{
        margin-left: 0;
      }

      .profile-info-block{
        margin-bottom: 3rem;
      }

      .whos-profile{
        margin-left: 0;
      }

      .b-img{
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 500px){
  #profile{
    &.profile{
      .edit-block{

        h4{
          text-align: center;
        }
        form{
          text-align: center;

          label:not(.css-label){
            display: none;
          }
        }

        .btn-link{
          margin-left: 0;
          margin-top: 1rem;
        }

        .btn-green{
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}