#booking-list.booking-list .btn.btn-green {
  margin-bottom: 20px;
}
#booking-list.booking-list .btn.btn-danger {
  height: 25px;
  padding: 1px 12px;
  margin: 0px 20px 3px 9px;
}
#booking-list.booking-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#booking-list.booking-list li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
#booking-list.booking-list li:last-child {
  border: none;
}
#booking-list.booking-list li {
  text-decoration: none;
  color: #3f3f3f;
  display: block;
  width: 100%;
  cursor: pointer;
  padding-left: 7px;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
#booking-list.booking-list li:hover {
  font-size: 30px;
  background: #f6f6f6;
}
#booking-list.booking-list li.current-playing {
  background-color: #dbdbdb;
  color: #007FC4;
}
#booking-list.booking-list .is-playing-item,
#booking-list.booking-list .is-you-item,
#booking-list.booking-list .time-left {
  font-size: 1.4rem;
  vertical-align: middle;
}
#booking-list.booking-list li.is-you {
  background-color: #b0fcb0;
}
#booking-list.booking-list .time-left {
  margin-left: 15px;
  font-weight: bold;
}
#booking-list.booking-list .player-number {
  margin-right: 10px;
}
@media (max-width: 991px) {
  #pingPong.pingPong .profile-right-block {
    margin-left: 0rem;
  }
  #pingPong.pingPong .b-img {
    margin: 0 auto;
  }
  #pingPong.pingPong .b-img i {
    left: 50%;
    margin-left: -7.5rem;
  }
}
@media (max-width: 767px) {
  #tabs.tabs {
    padding-top: 1rem;
    padding-bottom: 0.6rem;
  }
  #tabs.tabs .nav-tabs li.active {
    background-color: #008ddd;
  }
  #tabs.tabs .nav-tabs li.active a {
    color: #fff;
  }
  #pingPong.pingPong .action-buttons-block > div {
    margin-top: 1rem;
  }
}
#tabs {
  background-color: #f0f0f0;
  font-size: 1.8rem;
  font-family: OpenSans-Regular;
  margin-bottom: 5rem;
}
#tabs .nav-tabs .active {
  background-color: #fff;
}
#tabs .nav-tabs .active a {
  color: #7c7c7c;
}
#tabs .nav-tabs li {
  background-color: #44bbff;
  cursor: pointer;
  border-right: 0.1rem solid #f0f0f0;
}
#tabs .nav-tabs li a {
  background-color: transparent;
  border: none;
  color: #fff;
}
#tabs .nav-tabs li:not(.active):hover {
  background-color: #11a8ff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#pingPong {
  font-size: 1.8rem;
  color: #7b7b7b;
  font-family: OpenSans-Regular;
}
