@media (max-width: 400px) {
  #footer {
    &.footer {
      .contact {
        width: 100%;
      }

      .link-list + div {
        width: 100%;
      }

      .footer-contacts-caps {
        text-align: left !important;
      }
    }
  }
}

@media (max-width: 768px) {
  #footer {
    &.footer {
      .footer-contacts {
        margin-bottom: 2rem;
        margin-top: 0;

      }
      a {
        font-size: 1.8rem;
      }
      ul.footer-nav li {
        height: auto;
        margin-top: 1rem;

        &:first-child {
          padding-left: 1.5rem;
        }
      }

      .contact-wrapper {
        float: none;
      }

      .divider {
        display: none;
      }
      .footer-contacts-caps {
        margin-top: 3rem;
        font-size: 1.9rem;
        text-align: center;
      }

      .footer-contacts > div {
        text-align: center;
      }

      .social {
        text-align: center;
        margin-left: -2rem;

        a {
          font-size: 5rem;
          margin-left: 2rem;
        }
      }
    }
  }
}

@media (max-width: 769px) {
  #footer {
    &.footer {
      iframe.google_plus{
        height: 28px;
      }
    }
  }
}