#profile.profile(data-ng-controller="profile.ctrl.main"  data-ng-init = "init()" data-ng-cloak )
  .container
    h3 {{lang.its_all | uppercase}}
    .row
      .col-md-3.col-sm-12.avatar-block
        .b-img
          img.avatar(data-ng-src="{{user.profile.avatarUrl}}")
          a.btn-link.profile-name(href="") {{user.profile.name}}
        .log-info
          div {{lang.member_since}} {{user.profile.memberSince}}
          div {{lang.last_logged}}
            span {{user.profile.lastLogged}}

      .col-md-9.col-sm-12
        a.btn-link.whos-profile(href="")
          {{user.profile.name}}{{lang.whos_profile}}
        .profile-info-block
          div
            .prof-info-title {{lang.from}}:
            .prof-info-val
              span {{user.profile.country}}
          div
            .prof-info-title {{lang.about}}:
            .prof-info-val
              span {{user.profile.about}}
          div
            .prof-info-title {{lang.age}}:
            .prof-info-val
              span {{user.profile.age}}{{lang.yrs_old}}
    .row(data-ng-if="showEditBlock")
      hr
    .container.edit-block(data-ng-if="showEditBlock")
      div
        h4 {{lang.do_you_edit}}

        form.form-horizontal(
        role="form"
        name="profileForm"
        data-ng-submit="submit(profileForm)"
        form-autofill-fix
        novalidate
        )
          // Email
          .form-group(data-ng-class="{'has-error': err_email_req || err_email || server_errs.email.show}")
            .row
              .controls
                input.form-control(
                name="email"
                type="email"
                placeholder="{{lang.your_email}}"
                data-ng-model="profile.email"
                data-ng-click = "errorsHide('email')"
                required="true"
                )
                .err-msg(data-ng-show="err_email = profileForm.email.$error.email && !profileForm.email.$pristine") {{ lang.error.email }}
                .err-msg(data-ng-show="err_email_req = profileForm.email.$error.required && !profileForm.email.$pristine") {{ lang.error.required }}
                .err-msg(data-ng-show="server_errs.email.show") {{ lang.error.email }}
              label {{lang.your_email}}


          //About yourself
          .form-group
            .row
              .controls
                textarea.form-control(
                name="about"
                placeholder="{{lang.about_yourself}}"
                data-ng-model="profile.about"
                )
              label {{lang.about_yourself}}
          // Age
          .form-group(data-ng-class="{'has-error': !profileForm.age.$valid && !profileForm.age.$pristine}")
            .row
              .controls
                .input-group
                  input.form-control(
                  name="age"
                  type="number"
                  placeholder="{{lang.age_opt}}"
                  data-ng-model="profile.age"
                  min="1"
                  max="100"
                  )
                  span.input-group-btn.dropdown.input-dropdown
                    button.btn.dropdown-toggle(type="button")
                      span.caret
                    ul.dropdown-menu(role="menu")
                        li
                          a(href="" data-ng-repeat="n in [] | range:100" data-ng-click="profile.age = n") {{n}}
                .err-msg(data-ng-show="!profileForm.age.$valid && !profileForm.age.$pristine") {{ lang.error.age_error }}
              label {{lang.age_opt}}

          // choose picture
          .row
            .btn.btn-blue
              {{ lang.change_picture }}
              input#fileInput(type="file" get-img-base="myImage")
            .cropArea(data-ng-show="showCropArea")
              img-crop(image="myImage" result-image="myCroppedImage" area-type="square" change-on-fly="true" on-load-begin="showPreview = true; showCropArea = true;")
            .btn.btn-green(data-ng-click="showCropArea = false" data-ng-show="showCropArea") {{lang.ok}}
            div.cropPreview(data-ng-show="showPreview")
              div {{lang.cropped_image}}:
              img(data-ng-src="{{myCroppedImage}}")

          // judge checkbox
          .row
            input.css-checkbox#checkbox-judge(type="checkbox" data-ng-model="profile.judge")
            label.css-label(for="checkbox-judge" data-ng-model="profile.judge")
              span
              {{ lang.judge }} &nbsp;&nbsp;
              a(data-ng-click="$location.openModal('/judging-info')") {{ lang.more_info }}

          // save button
          .row
            button.btn.btn-green(type="button" data-ng-click="submit(profileForm)") {{ lang.save }}
            a.btn.btn-link(href='') {{ lang.delete_acc }}

