
<div class="challenge-item"><a href="#">
    <div class="b-img"><img data-ng-src="{{ challenge.thumbnail }}" alt="{{ challenge.thumbnail }}"/>
      <div class="title">{{ challenge.title }}</div>
      <div data-ng-class="{'icon-lock':challenge.open, 'icon-unlock':!challenge.open}" class="status"></div>
      <div class="people-video-block">
        <div class="people"><i></i>{{ gLang.max_entrants }}: {{ challenge.people }}</div>
        <div class="videos"><i></i>{{ gLang.video_submitted }}: {{ challenge.videos}}</div>
      </div>
      <div class="video viewed"><i class="icon-eye"></i>{{ challenge.viewed | number}}</div>
    </div></a></div>