#header{
  &.header{
    background: #007FC4;
  }

  a{
    color: #fff;
  }

  h1{
    display: inline-block;
    margin: 0rem;
    padding-top: 0.7rem;
    line-height: 7rem;

    font-size: 3.9rem;
    font-family: OpenSans-Light;
    color: @gray;
    text-transform: capitalize;
  }
  nav{
    background: @nav_blue;
    border-radius: 0rem;
    margin-bottom: 0rem;
    .navbar-header{
      button{
        background: #fff;
        .icon-bar{
          background: @nav_blue;
        }
      }
    }
    .navbar-collapse{
      ul{
        margin:1rem 0rem;
      }
      padding: 0rem;
      li{
        margin-right: 5rem;
        &:last-child{
          a{
            text-transform: uppercase;
          }
        }
      }

      a{
        padding: 0.5rem 2rem;
        text-align: left;

        font-family:OpenSans-Regular;
        font-size: 1.4rem;
        color: #fff;
        border-radius: 0.3rem;


        &::first-letter{
          text-transform: uppercase;
        }
        &:hover{
          background: @nav_blue_btn;
        }
      }
    }
  }

  .container{
    position: relative;
  }

  .b-btn{
    text-align: right;
  }
  .logo{
    height: 9rem;
    padding: 1.5rem 0rem;

    display: inline-block;
    color: #fff;

    img{
      height: 100%;
    }
  }

  .buttons{
    display: inline-block;
    line-height: 9rem;

    &>*{
      text-transform: capitalize;
      font-size: 1.3rem;
      font-family: OpenSans-Regular;
    }
    .search{
      margin-left: 1rem;
    }
  }
  .person_name{
    font-family: OpenSans-Bold;
  }


  .v-line:after{
    top: 20%;
    height: 60%;
  }
}