@media (max-width: 99.5rem){
  #header{
    &.header{

    }
    h1{
      font-size: 3rem;
    }
  }
}

@media (max-width: 76.8rem){
  #header{
    &.header{

    }
    .buttons{
      .search{
        margin: 0rem;
      }
    }
    nav{
      .navbar-collapse{
        li{
          margin-right: 0rem;
        }
      }
    }
  }
}

@media (max-width: 36rem) {
  #header{
    &.header{

    }
    .logo{
      width: 6rem;
      overflow: hidden;
    }

  }
}