//.gradient2(@top: #AEBBBF, @bottom: #7C8B92) {
//  //    background: @top; /* Old browsers */
//  background: -moz-linear-gradient(top,  @top 0%,  @bottom 100%); /* FF3.6+ */
//  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@top), color-stop(100%,@bottom)); /* Chrome,Safari4+ */
//  background: -webkit-linear-gradient(top,  @top 0%, @bottom 100%); /* Chrome10+,Safari5.1+ */
//  background: -o-linear-gradient(top,  @top 0%,@bottom 100%); /* Opera 11.10+ */
//  background: -ms-linear-gradient(top,  @top 0%,@bottom 100%); /* IE10+ */
//  background: linear-gradient(to bottom,  @top 0%,@bottom 100%); /* W3C */
//  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@top, endColorstr=@bottom, GradientType=0); /* IE6-9 */
//}
#footer {
  min-height: 6rem;
  font-size: 1.4rem;
  font-family: OpenSans-Regular;

  .footer-nav{
    .icon-bar{
      background-color: #ffffff;
    }
  }

  iframe{
    border: 0;
    overflow: hidden;
    height: 20px;
    width: 100px;

    &.google_plus{
      width: 80px;
      position: relative;
    }
  }

  ul.footer-nav{
    font-size: 1.3rem;
    margin-top: 2rem;

    li{
      border-left: 0.1rem solid @bg_gray3;
      height: 1.3rem;

      &:first-child{
        border: none;
        a{
          padding-left: 0;
        }
      }
      a{
        margin-top: -1.8rem;
        color: @bg_blue1;

        &:hover {
          background: transparent;
          text-decoration: underline;
//          color: inherit;
        }
      }
    }
  }

  .footer-contacts-caps{
    font-size: 1.6rem;
    color:  @text-gray4;
    text-align: left;
    margin-bottom: 0.5rem;


  }
  &.footer {
    text-align: left;
    color: @bg_gray1;
    background: @bg_gray4;
//    box-shadow:0rem 0rem 0.3rem @bg_gray4;
    border-top: 1px solid #f3f3f3;
  }

  .like-buttons{
    margin-top: 1.2rem;
  }
  .footer-contacts{
    margin-top: 3.5rem;

    .divider{
      background-color:  @bg_gray3;
      height: 3.1rem;
      position: absolute;
      width: 0.1rem;
      border-left: 1px solid @bg_gray3;
      margin-top: 2.9rem;
    }
    .contact-wrapper{
      float: right;
    }
    &>div{
      text-align: left;

      &:nth-child(2) .divider{
        left: -6%;
      }
      &:nth-child(3) .divider{
        left: -17%;
      }
      &:nth-child(4) .divider{
        left: 16%;
      }

    }

    input{
      color: white;
      width: 100%;
      padding: 0.5rem 0rem 0.5rem 0.7rem;
      border-radius: 0.4rem;
      border: 0.2rem solid transparent;
      background-color: @bg_gray2;
      height: 3.4rem;

      &+span button{
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        color: #ffffff;
        font-family: 'OpenSans-Bold';
        margin-left: -0.3rem;
        border-color: @bg_blue1;
        .bgBtn(@bg_blue1);
        &:hover{
          border-color: darken(@bg_blue1, 10%);
        }
      }
    }
  }

  .btn-mail{
    font-size: 3.2rem;
    border-radius: 0.4rem;
    width: 16.4rem;
    height: 3.4rem;
    padding: 0;
    .bgBtn(@bg_blue1);
    &:hover{
      color: inherit;
//      background-color:  #1baaf7;
    }
    &:focus{
      color: #fff;
    }
  }


  .social {
    text-align: left;
    font-size: 3rem;

    a{
      color: @bg_blue1;
      margin-top: 0;
      margin-right: 1.5rem;
      &:hover{
        text-decoration: none;
        color: darken(@bg_blue1, 15%);
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 992px){
  .btn-green{
    margin-bottom: 1rem;
  }
  #footer {
    &.footer {
      .like-buttons-wrapper {
        margin-bottom: 1.8rem;
      }
      .divider {
        display: none;
      }

      .like-buttons-wrapper, .contact-wrapper {
        padding-left: 4rem;
        float: none;
      }

      .footer-contacts {
        margin-bottom: 2rem;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  #footer {
    &.footer {

      .social a {
        margin-right: 0.7rem;
      }

      .footer-contacts > div:nth-child(2) .divider {
        left: -4%;
      }
      .footer-contacts > div:nth-child(3) .divider {
        left: -7%;
      }
      .footer-contacts > div:nth-child(4) .divider {
        left: 10%;
      }
    }
  }
}


