@font-face {
  font-family: 'OpenSans-Bold';
  src:url('../fonts/OpenSans/OpenSans-Bold.eot');
  src:url('../fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
  url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype'),
  url('../fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-BoldItalic';
  src:url('../fonts/OpenSans/OpenSans-BoldItalic.eot');
  src:url('../fonts/OpenSans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff'),
  url('../fonts/OpenSans/OpenSans-BoldItalic.ttf') format('truetype'),
  url('../fonts/OpenSans/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src:url('../fonts/OpenSans/OpenSans-ExtraBold.eot');
  src:url('../fonts/OpenSans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans/OpenSans-ExtraBold.woff') format('woff'),
  url('../fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype'),
  url('../fonts/OpenSans/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-ExtraBoldItalic';
  src:url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.eot');
  src:url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff') format('woff'),
  url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
  url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Italic';
  src:url('../fonts/OpenSans/OpenSans-Italic.eot');
  src:url('../fonts/OpenSans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans/OpenSans-Italic.woff') format('woff'),
  url('../fonts/OpenSans/OpenSans-Italic.ttf') format('truetype'),
  url('../fonts/OpenSans/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OpenSans-Light';
  src:url('../fonts/OpenSans/OpenSans-Light.eot');
  src:url('../fonts/OpenSans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans/OpenSans-Light.woff') format('woff'),
  url('../fonts/OpenSans/OpenSans-Light.ttf') format('truetype'),
  url('../fonts/OpenSans/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-LightItalic';
  src:url('../fonts/OpenSans/OpenSans-LightItalic.eot');
  src:url('../fonts/OpenSans/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans/OpenSans-LightItalic.woff') format('woff'),
  url('../fonts/OpenSans/OpenSans-LightItalic.ttf') format('truetype'),
  url('../fonts/OpenSans/OpenSans-LightItalic.svg#OpenSans-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src:url('../fonts/OpenSans/OpenSans-Regular.eot');
  src:url('../fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
  url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype'),
  url('../fonts/OpenSans/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src:url('../fonts/OpenSans/OpenSans-Semibold.eot');
  src:url('../fonts/OpenSans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans/OpenSans-Semibold.woff') format('woff'),
  url('../fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype'),
  url('../fonts/OpenSans/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-SemiboldItalic';
  src:url('../fonts/OpenSans/OpenSans-SemiboldItalic.eot');
  src:url('../fonts/OpenSans/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans/OpenSans-SemiboldItalic.woff') format('woff'),
  url('../fonts/OpenSans/OpenSans-SemiboldItalic.ttf') format('truetype'),
  url('../fonts/OpenSans/OpenSans-SemiboldItalic.svg#OpenSans-SemiboldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?h7v5eb');
  src:url('../fonts/icomoon.eot?#iefixh7v5eb') format('embedded-opentype'),
  url('../fonts/icomoon.woff?h7v5eb') format('woff'),
  url('../fonts/icomoon.ttf?h7v5eb') format('truetype'),
  url('../fonts/icomoon.svg?h7v5eb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-JustWatch:before {
  content: "\e61f";
}
.icon-JudgeVideos:before {
  content: "\e620";
}
.icon-EditProfile:before {
  content: "\e621";
}
.icon-VideoGuidelinesIcon:before {
  content: "\e616";
}
.icon-JoinAChallange:before {
  content: "\e622";
}
.icon-usersgroup:before {
  content: "\e61e";
}
.icon-starrating:before {
  content: "\e61b";
}
.icon-funny:before {
  content: "\e600";
}
.icon-Sports:before {
  content: "\e601";
}
.icon-serious:before {
  content: "\e602";
}
.icon-instructional:before {
  content: "\e603";
}
.icon-cooking:before {
  content: "\e604";
}
.icon-music:before {
  content: "\e605";
}
.icon-cartoon:before {
  content: "\e606";
}
.icon-nature:before {
  content: "\e607";
}
.icon-education:before {
  content: "\e608";
}
.icon-vehicles:before {
  content: "\e609";
}
.icon-other:before {
  content: "\e60a";
}
.icon-search:before {
  content: "\e60b";
}
.icon-challenge:before {
  content: "\e60c";
}
.icon-videos:before {
  content: "\e60d";
}
.icon-signinlock:before {
  content: "\e60e";
}
.icon-newaccount:before {
  content: "\e60f";
}
.icon-user:before {
  content: "\e610";
}
.icon-calendar:before {
  content: "\e611";
}
.icon-eye:before {
  content: "\e612";
}
.icon-lock:before {
  content: "\e613";
}
.icon-unlock:before {
  content: "\e614";
}
.icon-videocamera:before {
  content: "\e615";
}
.icon-twiiter:before {
  content: "\e617";
}
.icon-facebook:before {
  content: "\e618";
}
.icon-facebook2:before {
  content: "\e619";
}
.icon-envelope:before {
  content: "\e61a";
}
.icon-done:before {
  content: "\e61d";
}
.icon-envelope2:before {
  content: "\e61c";
}