/*error message*/
a,button{
  outline: none!important;
}

html{
  overflow-y: scroll;
}

html, body {
  height: 100%;
  font-size: 62.5%;
}

.main {
  min-height: 100%;
  margin-bottom: -6rem;
}
.main:after {
  content: "";
  display: block;
}
footer, .main:after {
  height: 6rem;
}

.err-msg{
  padding: 0.5rem 0.5rem 0rem;
  color: #A94442;
  font-size: 1.2rem;
  first-letter: uppercase;

  &:first-letter{
    text-transform: uppercase;
  }
}
.form-control{
  border-color: @text-gray3;
  box-shadow: none;
}

form[class^="form"] input, form[class^="form"] textarea{
  box-shadow: none;
  border-color: @text-gray3;
  font-size: 1.3rem;
  .ph(@text-gray6)
}

.input-dropdown-view{

}

.btn{
  cursor: pointer;
  &::first-letter{
    text-transform: uppercase;
  }
  &.btn-green{
    padding: 0.5rem 1rem;
    font-family: OpenSans-Regular;
    font-size: 1.3rem;
    color: #fff;

    .bgBtn(@green)
  }
  &.btn-blue{
    padding: 1rem 2.5rem;
    font-family: OpenSans-Bold;
    font-size: 1.8rem;
    color: #fff;
    text-transform: capitalize;

    .bgBtn(@bg_blue1)
  }
  &.btn-link{
    padding: 0.5rem 1rem;
    color: @blue_text1;
  }
}

.v-line{
  position: relative;
  &:after{
    content: '';
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    right: 0rem;
    width: 0.1rem;
    height: 100%;

    background: #eaeaea;


  }
}
.video{
  display: inline-block;
  line-height: 2rem;
  vertical-align: top;

  i{
    float: left;
    padding-right: 0.3rem;

    font-size: 2.1rem;
    line-height: 1.9rem;
    vertical-align: top;
    color: @text-gray3;

  }
  &.name{
    font-family: OpenSans-Light;
    font-size: 1.3rem;
    color: @blue_text1;

    i{
      padding-right: 0.5rem;
      font-size: 1.6rem;
      line-height: 1.8rem;
    }
  }
  &.create{
    font-family: OpenSans-Light;
    font-size: 1.3rem;
    color: @text-gray2;
  }
  &.viewed{

    font-family: OpenSans-Light;
    font-size: 1.3rem;
    color: @text-gray2;
    line-height: 2.1rem;

    i{
      font-size: 3rem;
      line-height: 2.2rem;
    }
  }
}
.video-item{

  position: relative;
  top: 0rem;
  height: 100%;
  .b-img{
    position: absolute;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 3rem;
    img{
      width: 100%;
      height: 100%;
    }
    &>div{
      position: absolute;
      padding: 0.3rem 1rem;
      font-family: OpenSans-Regular;
      font-size: 1.3rem;
      color: #fff;
      border-radius: 0.3rem;
      background-color: rgba(77,77,77,0.5);
      text-transform: capitalize;
    }
    .time{
      top: 1rem;
      right: 1rem;
    }
    .create{
      bottom: 1rem;
      right: 1rem;
    }
    .viewed{
      bottom: 1rem;
      left: 1rem;
    }
  }
  .b-info{
    position: absolute;
    bottom: 0rem;
    width: 100%;
    line-height: 3rem;
    .name{
      padding-left: 0rem;
    }
    .rating{
      text-align: right;
      font-size: 1.6rem;
    }
  }
}
.challenge-item{
  position: relative;
  top: 0rem;
  height: 100%;
  .b-img{
    position: absolute;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    height: 100%;

    border-radius: 0.5rem;
    overflow: hidden;

    &:before{
      content: '';
      position: absolute;
      top: 0rem;
      left: 0rem;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: rgba(55, 55, 55, 0.4);
    }
    img{
      width: 100%;
      height: 100%;
    }
    &>div{
      position: absolute;

      font-family: OpenSans-Regular;
      font-size: 1.3rem;
      color: #fff;
      text-transform: capitalize;

      i{
        padding-right: 0.3rem;
      }
    }
    .title{
      top: 1rem;
      left: 1rem;
      color: @yellow2;
    }
    .status{
      padding: 0rem;
      top: 1rem;
      right: 1rem;

      font-size: 1.5rem;
      font-family: "icomoon";
      &.icon-lock{
        color: @text-red1;
      }
      &.icon-unlock{
        color: @text-green1;
      }
    }
    .people{
      line-height: 1.6rem;
      vertical-align: top;

      i{
        line-height: 1.7rem;
      }
    }
    .videos{
    }
    .viewed{
      bottom: 1rem;
      right: 1rem;
      border-radius: 0.3rem;
      padding: 0.3rem 0.5rem;
      background-color: rgba(77, 77, 77, 0.5);
      font-size: 1.1rem;

      i{
        font-size: 2.4rem;
      }
    }

    .people-video-block{
      bottom: 1rem;
      font-size: 1.2rem;
      left: 1rem;
      background-color: rgba(77,77,77,0.5);
      border-radius: 0.3rem;
      padding: 0.6rem 0.5rem;
      text-align: left;
    }
  }
}

//checkbox styling
input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 1.7em;
  height    : 1.4rem;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
  cursor    : pointer;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
//  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 1.8rem;
  height           : 1.8rem;
  margin           : 0.25em 0.5em 0.25em 0;
  border           : 0.1rem solid @text-gray3;
  border-radius    : 0.4rem;
  background       : #fff;
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background       : #fff;
}

input[type=checkbox]:not(old):checked + label > span:before{
  content: '\e61d';
  font-family: icomoon;
  display: block;
  width: 1.6rem;
  color: #2da3e0;
  font-size: 1.6rem;
  line-height: 1.1em;
  text-align: center;
  text-shadow: 0 0 0.0714em #2da3e0;
  font-weight: bolder;
}

input[type=checkbox]:not(old) + label{
  cursor: pointer;
}

@media (max-width: 769px) {
  body.modal-open {
      overflow: hidden;
      position: fixed;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .challenges-list .challenge-item{
    .viewed{
      width: 5.8rem;
      padding-bottom: 0.7rem;
      line-height: 1.4rem;
      text-align: center;
      i{
        margin-left: 1.2rem;
      }
    }
  }
}

h3.title{
  margin-bottom: 0.5rem;
  font-family: OpenSans-Bold;
  font-size: 2.2rem;
  color: @text-gray1;
  text-transform: uppercase;
}


.input-dropdown{
  .btn{
    margin-left: 0px;
    color: #fff;
    .bgBtn(@green);


    span{
      border-top: 8px solid;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
    }
  }
}
