@green: #12d37b;
@text-green1: #6fcd00;
@gray: #b2b2b2;
@text-gray1: #7c7c7c;
@text-gray2: #cbcbcb;
@text-gray3: #e1e1e1;
@bg_gray1: #fafafa;
@nav_blue: #0071bc;
@nav_blue_btn: #1291e5;
@blue_text1: #2da3e0;
@blue_text2: #00bbe9;
@blue_text3: #95d5e8;
@bg_blue1: #44bbff;
@bg_blue2: #005c99;
@bg-blue3: #95d5e8;
@bg-blue4: #5187d8;
@bg_black: #4b4b4b;
@yellow1: #ffdd3d;
@yellow2: #f2df07;
@text-red1:#ff2626;
@bg_gray2: #8a8a8a;
@bg_gray3: #5c5c5c;
@bg_gray4: #4D5156;
@bg_gray5: #f0f0f0;
@bg-gray6: #e7e7e7;
@bg-gray7: #cfcfcf;
@text-gray4: #727272;
@text-gray5: #7b7b7b;
@text-gray6: #d4d4d4;
@text-gray7: #a7a7a7;
@bg_violet1: #aa72cb;
@btn-purple: #aa72cb;


.transition(@transition-property, @transition-time, @method) {
  -webkit-transition: @transition-property @transition-time @method;
  -moz-transition:    @transition-property @transition-time @method;
  -ms-transition:     @transition-property @transition-time @method;
  -o-transition:      @transition-property @transition-time @method;
  transition:         @transition-property @transition-time @method;
}

.bgBtn(@color){
  background-color: @color;
  &:hover{
    background-color: darken(@color, 5%);
    .transition(all, 0.2s, ease-in-out)
  }
}

//placeholder color
.ph(@color) {
  &::-webkit-input-placeholder { /* WebKit browsers */
    color:    @color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    @color;
    opacity:  1;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    @color;
    opacity:  1;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    @color;
  }
}
