#footer {
  min-height: 6rem;
  font-size: 1.4rem;
  font-family: OpenSans-Regular;
}
#footer .footer-nav .icon-bar {
  background-color: #ffffff;
}
#footer iframe {
  border: 0;
  overflow: hidden;
  height: 20px;
  width: 100px;
}
#footer iframe.google_plus {
  width: 80px;
  position: relative;
}
#footer ul.footer-nav {
  font-size: 1.3rem;
  margin-top: 2rem;
}
#footer ul.footer-nav li {
  border-left: 0.1rem solid #5c5c5c;
  height: 1.3rem;
}
#footer ul.footer-nav li:first-child {
  border: none;
}
#footer ul.footer-nav li:first-child a {
  padding-left: 0;
}
#footer ul.footer-nav li a {
  margin-top: -1.8rem;
  color: #44bbff;
}
#footer ul.footer-nav li a:hover {
  background: transparent;
  text-decoration: underline;
}
#footer .footer-contacts-caps {
  font-size: 1.6rem;
  color: #727272;
  text-align: left;
  margin-bottom: 0.5rem;
}
#footer.footer {
  text-align: left;
  color: #fafafa;
  background: #4d5156;
  border-top: 1px solid #f3f3f3;
}
#footer .like-buttons {
  margin-top: 1.2rem;
}
#footer .footer-contacts {
  margin-top: 3.5rem;
}
#footer .footer-contacts .divider {
  background-color: #5c5c5c;
  height: 3.1rem;
  position: absolute;
  width: 0.1rem;
  border-left: 1px solid #5c5c5c;
  margin-top: 2.9rem;
}
#footer .footer-contacts .contact-wrapper {
  float: right;
}
#footer .footer-contacts > div {
  text-align: left;
}
#footer .footer-contacts > div:nth-child(2) .divider {
  left: -6%;
}
#footer .footer-contacts > div:nth-child(3) .divider {
  left: -17%;
}
#footer .footer-contacts > div:nth-child(4) .divider {
  left: 16%;
}
#footer .footer-contacts input {
  color: white;
  width: 100%;
  padding: 0.5rem 0rem 0.5rem 0.7rem;
  border-radius: 0.4rem;
  border: 0.2rem solid transparent;
  background-color: #8a8a8a;
  height: 3.4rem;
}
#footer .footer-contacts input + span button {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  color: #ffffff;
  font-family: 'OpenSans-Bold';
  margin-left: -0.3rem;
  border-color: #44bbff;
  background-color: #44bbff;
}
#footer .footer-contacts input + span button:hover {
  background-color: #2ab2ff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#footer .footer-contacts input + span button:hover {
  border-color: #11a8ff;
}
#footer .btn-mail {
  font-size: 3.2rem;
  border-radius: 0.4rem;
  width: 16.4rem;
  height: 3.4rem;
  padding: 0;
  background-color: #44bbff;
}
#footer .btn-mail:hover {
  background-color: #2ab2ff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#footer .btn-mail:hover {
  color: inherit;
}
#footer .btn-mail:focus {
  color: #fff;
}
#footer .social {
  text-align: left;
  font-size: 3rem;
}
#footer .social a {
  color: #44bbff;
  margin-top: 0;
  margin-right: 1.5rem;
}
#footer .social a:hover {
  text-decoration: none;
  color: #009df6;
}
@media (min-width: 768px) and (max-width: 992px) {
  .btn-green {
    margin-bottom: 1rem;
  }
  #footer.footer .like-buttons-wrapper {
    margin-bottom: 1.8rem;
  }
  #footer.footer .divider {
    display: none;
  }
  #footer.footer .like-buttons-wrapper,
  #footer.footer .contact-wrapper {
    padding-left: 4rem;
    float: none;
  }
  #footer.footer .footer-contacts {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #footer.footer .social a {
    margin-right: 0.7rem;
  }
  #footer.footer .footer-contacts > div:nth-child(2) .divider {
    left: -4%;
  }
  #footer.footer .footer-contacts > div:nth-child(3) .divider {
    left: -7%;
  }
  #footer.footer .footer-contacts > div:nth-child(4) .divider {
    left: 10%;
  }
}
@media (max-width: 400px) {
  #footer.footer .contact {
    width: 100%;
  }
  #footer.footer .link-list + div {
    width: 100%;
  }
  #footer.footer .footer-contacts-caps {
    text-align: left !important;
  }
}
@media (max-width: 768px) {
  #footer.footer .footer-contacts {
    margin-bottom: 2rem;
    margin-top: 0;
  }
  #footer.footer a {
    font-size: 1.8rem;
  }
  #footer.footer ul.footer-nav li {
    height: auto;
    margin-top: 1rem;
  }
  #footer.footer ul.footer-nav li:first-child {
    padding-left: 1.5rem;
  }
  #footer.footer .contact-wrapper {
    float: none;
  }
  #footer.footer .divider {
    display: none;
  }
  #footer.footer .footer-contacts-caps {
    margin-top: 3rem;
    font-size: 1.9rem;
    text-align: center;
  }
  #footer.footer .footer-contacts > div {
    text-align: center;
  }
  #footer.footer .social {
    text-align: center;
    margin-left: -2rem;
  }
  #footer.footer .social a {
    font-size: 5rem;
    margin-left: 2rem;
  }
}
@media (max-width: 769px) {
  #footer.footer iframe.google_plus {
    height: 28px;
  }
}
