.widgets .modal-body {
  font-family: OpenSans-Regular;
  color: #7b7b7b;
}
.widgets.modal .close {
  text-align: right;
  position: absolute;
  top: -3rem;
  right: 1rem;
  opacity: 1;
  cursor: pointer;
}
.widgets.modal .close span {
  font-size: 3rem;
  font-weight: bold;
  color: #dadada;
}
.widgets.modal .close span:hover {
  color: #cccccc;
}
.widgets.modal .modal-content {
  box-shadow: none;
}
.widgets.modal .modal-content .modal-body.info-modals {
  padding: 1.5rem 4.5rem;
  font-size: 1.3rem;
}
.widgets.modal .modal-content .modal-body.info-modals h2 {
  margin-bottom: 2rem;
}
.widgets.modal .modal-content .modal-body .text-center i[class*='icon-'] {
  display: inline-block;
  padding-bottom: 1rem;
  color: #95d5e8;
  font-size: 5rem;
}
.widgets.modal .modal-content .modal-body h2.modal-title {
  text-align: center;
  text-transform: capitalize;
  color: #7b7b7b;
  font-size: 2.7rem;
}
.widgets.modal .modal-content > div {
  padding: 3rem 0rem 4rem;
  overflow: hidden;
}
.widgets.modal .modal-content .btn-green {
  height: 4.5rem;
  font-size: 1.8rem;
  font-family: OpenSans-Bold;
}
#login *::first-letter {
  text-transform: uppercase;
}
#login form {
  margin-top: 1.5rem;
}
#login .desc,
#login input,
#login .btn-link,
#login .checkbox {
  text-align: center;
  font-size: 1.3rem;
  font-family: OpenSans-Regular;
}
#login .btn-link {
  padding-top: 0rem;
}
#login .checkbox {
  color: #7b7b7b;
}
#login .btn-green {
  margin-top: 1rem;
}
#login .form-group {
  margin-bottom: 0.7rem;
}
.register a {
  color: #2da3e0;
  cursor: pointer;
}
#register.register {
  padding-top: 1rem;
  font-size: 1.3rem;
}
#register.register .modal-body {
  padding-top: 3rem;
  padding-bottom: 5rem;
}
#register.register .modal-body .close {
  top: -0.7rem;
}
#register.register .container {
  max-width: 34.7rem;
  color: #7b7b7b;
}
#register.register .container label {
  outline: none;
}
#register.register .container > .btn-green {
  display: block;
  margin: 0 auto;
  width: 21.5rem;
  margin-top: 3rem;
}
#register.register .icon-newaccount {
  font-size: 6.5rem;
  color: #95d5e8;
}
#register.register h3 {
  font-size: 2.66rem;
  margin-bottom: 0.4rem;
}
#register.register h3 + a {
  display: block;
}
#register.register .username-label {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
#register.register form + span {
  font-size: 1.1rem;
}
#register.register form .dropdown .dropdown-menu {
  max-height: 22rem;
  width: 22rem;
  overflow-y: auto;
  margin-left: -18.1rem;
}
#register.register form .dropdown .dropdown-menu a {
  color: #000000;
  white-space: normal;
}
#register.register form .dropdown .dropdown-menu a:hover {
  background-color: #428BCA;
  color: #ffffff;
}
#register.register form .btn {
  margin-left: 0px;
  color: #fff;
  background-color: #12d37b;
}
#register.register form .btn:hover {
  background-color: #10bc6d;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#register.register form .btn span {
  border-top: 8px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
#register.register form .form-group {
  margin-bottom: 8px;
}
#register.register form + span,
#register.register .username-label {
  color: #cbcbcb;
}
#register.register .terms-link {
  float: right;
}
#register.register .terms-link + div {
  margin-top: 3rem;
  margin-bottom: 0.6rem;
}
.changePassword #changePasswordForm {
  margin-top: 3.5rem;
}
.changePassword #changePasswordForm .form-group:last-child {
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.changePassword input {
  text-align: center;
}
#forgotPassword.forgotPassword .desc {
  font-size: 1.3rem;
  margin-bottom: 3rem;
}
#forgotPassword.forgotPassword input {
  text-align: center;
}
#forgotPassword.forgotPassword .btn-green {
  margin-top: 1rem;
}
@media (max-width: 420px) {
  #register.register .terms-link {
    margin-top: -3.2rem;
  }
  #register.register form + span {
    display: block;
    width: 70%;
  }
}
#videoGuidelines.videoGuidelines ul {
  color: #95d5e8;
  margin: 1.5rem 0 1.5rem -2.3rem;
}
#videoGuidelines.videoGuidelines ul span {
  color: #7b7b7b;
  font-family: OpenSans-Bold;
  margin-left: -0.5rem;
}
#videoGuidelines.videoGuidelines .icon-VideoGuidelinesIcon {
  font-size: 6.5rem;
}
#judgingInfo.judgingInfo ul {
  color: #95d5e8;
  margin: 1.5rem 0 1.5rem -2.3rem;
}
#judgingInfo.judgingInfo ul span {
  color: #7b7b7b;
  margin-left: -0.5rem;
  display: block;
}
#judgingInfo.judgingInfo ul + .judging-desc {
  margin-bottom: 1.5rem;
}
#judgingInfo.judgingInfo .judging-desc {
  font-family: OpenSans-Bold;
}
#restorePassword .desc {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
#restorePassword input {
  text-align: center;
}
#restorePassword button {
  margin-top: 1rem;
}
